@import "../../../style/layout.css";

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
}

.layout {
    height: auto;
    min-height: 100%;
    background-color: var(--layout-background);
}

.content {
    margin: var(--layout-content-margin);
    padding: var(--layout-content-padding);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: var(--layout-footer-margin);
    padding: var(--layout-footer-padding);
}
