.bar {
    text-align: center;
}

.input {
    display: inline-block;
    padding: 3px 0;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
}

.bar :global([data-focus="input-text"]) {
    position: relative;
    top: 4px;
    width: 500px;
}

.bar :global([data-focus="input-text"]) input {
    font-size: 16px;
}

.spinner {
    position: absolute;
    right: 10px;
    top: 14px;
    border: 3px solid #38e;
    border-right-color: transparent;
    border-radius: 10px;
    width: 15px;
    height: 15px;
}