.facet {
    margin-bottom: 15px;
}

.facet:last-child {
    margin-bottom: 0;
}

.facet h4 {
    margin: 5px 0;
    font-size: 17px;
    font-weight: bold;
}

.facet ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
    max-height: 300px;
    overflow-y: auto;
}

.facet li {
    margin: 0;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
}

.show {
    text-align: right;
    margin: 5px 10px 0 0;
}

.facet li,
.show {
    cursor: pointer;
    font-size: 14px;
    color: #444;
}

.facet li:hover,
.show:hover {
    color: black;
}

.facet li:last-child {
    padding-bottom: 0;
}

.chip {
    margin-left: 15px;
}

.count {
    font-weight: bold;
    margin-right: 10px;
    padding-left: 5px;
}
