:root {
    --action-bar-background: var(--color-white);
    --action-bar-facetbox-background: var(--palette-grey-200);
    --action-bar-facetbox-triangle-height: 15px;
    --action-bar-facetbox-triangle-width: 30px;
    --action-bar-font-weight: bold;
    --action-bar-height: 56px;
    --action-bar-margin: 0 0 10px 0;
    --action-bar-padding: 10px;
    --action-bar-search-bar-width: 250px;
    --action-bar-selection-background: var(--color-primary);
    --action-bar-selection-color: var(--palette-grey-200);
    --action-bar-shadow: var(--shadow-2p);
    --action-bar-transition: 0.1s ease-out;
}
