:root {
    --avatar-color: rgb(var(--color-white));
    --avatar-background: rgb(var(--palette-grey-500));
    --avatar-size: calc(4 * var(--unit));
    --avatar-font-size: calc(2.4 * var(--unit));
}
