:root {
    --button-border-radius: calc(0.2 * var(--unit));
    --button-height: calc(3.6 * var(--unit));
    --button-toggle-font-size: calc(2 * var(--unit));
    --button-primary-color: rgb(var(--color-primary));
    --button-primary-color-hover: rgba(var(--color-primary), 0.2);
    --button-primary-color-contrast: rgb(var(--color-primary-contrast));
    --button-accent-color-contrast: rgb(var(--color-primary-contrast));
    --button-accent-color-hover: rgba(var(--color-accent), 0.2);
    --button-accent-color: rgb(var(--color-accent));
    --button-neutral-color: rgb(var(--color-white));
    --button-neutral-color-contrast: rgb(var(--palette-grey-900));
    --button-neutral-color-hover: rgba(var(--palette-grey-900), 0.2);
    --button-floating-font-size: calc(2.4 * var(--unit));
    --button-floating-height: calc(5.6 * var(--unit));
    --button-floating-mini-height: calc(4 * var(--unit));
    --button-floating-mini-font-size: calc(var(--button-floating-mini-height) / 2.25);
    --button-disabled-text-color: rgba(var(--color-black), 0.26);
    --button-disabled-background-color: rgba(var(--color-black), 0.12);
    --button-disabled-text-color-inverse: rgba(var(--color-black), 0.54);
    --button-disabled-background-inverse: rgba(var(--color-black), 0.08);
    --button-squared-icon-margin: calc(0.6 * var(--unit));
    --button-squared-min-width: calc(9 * var(--unit));
    --button-squared-padding: 0 calc(1.2 * var(--unit));
}
