:root {
    --clock-padding: calc(1.5 * var(--unit)) calc(2 * var(--unit));
    --clock-primary: rgb(var(--color-primary));
    --clock-primary-contrast: rgb(var(--color-primary-contrast));
    --clock-primary-dark: rgb(var(--color-primary-dark));
    --clock-primary-color: var(--clock-primary);
    --clock-primary-hover-color: rgba(var(--color-primary), 0.2);
    --clock-primary-contrast-color: rgb(var(--color-primary-contrast));
    --clock-primary-dark-color: rgb(var(--color-primary-dark));
    --clock-number-size: calc(2 * var(--unit));
    --clock-hand-width: calc(0.4 * var(--unit));
    --clock-hand-dot-size: calc(1 * var(--unit));
    --clock-knob-size: calc(3.4 * var(--unit));
    --clock-knob-small-size: calc(1.2 * var(--unit));
}
