:root {
    --dropdown-value-border-size: calc(var(--input-field-height) / 7);
    --dropdown-color-white: rgb(var(--color-white));
    --dropdown-color-primary: rgb(var(--color-primary));
    --dropdown-color-primary-contrast: rgb(var(--color-primary-contrast));
    --dropdown-color-disabled: rgba(var(--color-black), 0.26);
    --dropdown-value-hover-background: rgb(var(--palette-grey-200));
    --dropdown-overflow-max-height: 45vh;
    --dropdown-value-border-radius: calc(0.2 * var(--unit));
}
