:root {
    --main-menu-background: rgb(var(--color-white));
    --main-menu-item-active-background: rgba(var(--color-black), 0.15);
    --main-menu-item-active-color: rgb(var(--color-primary));
    --main-menu-item-color: rgb(var(--color-black));
    --main-menu-item-height: 60px;
}
