:root {
    --main-menu-background: var(--color-white);
    --main-menu-item-active-background: rgba(0, 0, 0, 0.15);
    --main-menu-item-active-color: var(--color-primary);
    --main-menu-item-color: var(--color-black);
    --main-menu-item-height: 60px;
}
