:root {
    --table-font-size: calc(1.3 * var(--unit));
    --table-header-font-size: calc(1.2 * var(--unit));
    --table-header-sort-icon-size: calc(1.6 * var(--unit));
    --table-header-color: color(var(--color-black) a(54%));
    --table-header-sorted-color: color(var(--color-black) a(87%));
    --table-header-sorted-icon-hover-color: color(var(--color-black) a(26%));
    --table-dividers: 1px solid var(--palette-grey-300);
    --table-row-color: color(var(--color-black) a(87%));
    --table-hover-color: var(--palette-grey-200);
    --table-selection-color: var(--palette-grey-100);
    --table-row-height: calc(4.8 * var(--unit));
    --table-column-spacing: calc(3.6 * var(--unit));
    --table-column-padding: calc(var(--table-column-spacing) / 2);
    --table-cell-padding: calc(2.4 * var(--unit));
    --table-cell-top: calc(var(--table-cell-padding) / 2);
}
