:root {
    --action-bar-background: rgb(var(--color-white));
    --action-bar-facetbox-background: rgb(var(--palette-grey-200));
    --action-bar-font-weight: 600;
    --action-bar-height: 56px;
    --action-bar-margin: 0 0 10px 0;
    --action-bar-border-radius: 12px;
    --action-bar-padding: 10px;
    --action-bar-search-bar-width: 300px;
    --action-bar-selection-background: rgb(var(--color-primary));
    --action-bar-selection-color: rgb(var(--color-white));
    --action-bar-box-shadow: var(--shadow-2p);
    --action-bar-transition: 0.1s ease-out;
}

.container {
    position: relative;
    margin: var(--action-bar-margin);
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    z-index: calc(var(--z-index-normal) + 1);
    background-color: var(--action-bar-background);
    border-radius: var(--action-bar-border-radius);
    box-shadow: var(--action-bar-box-shadow);
    height: var(--action-bar-height);
    padding: var(--action-bar-padding);
    transition: background-color var(--action-bar-transition);
}

.bar--selection {
    --focus-ring-color: var(--action-bar-selection-color);
    background: var(--action-bar-selection-background);
    color: var(--action-bar-selection-color);
}

.bar--selection .selectionToggle {
    --input-on-main-color: var(--action-bar-selection-color);
    --input-on-secondary-color: var(--action-bar-selection-background);
    --input-state-color: rgb(var(--palette-grey-100));
    --input-state-hover-color: rgba(var(--palette-grey-100), var(--input-hover-opacity));
}

.bar--selection button {
    color: var(--action-bar-selection-color) !important;
}

.searchBar {
    width: var(--action-bar-search-bar-width);
}

.searchBar:not(:first-child) {
    margin-left: var(--button-spacing);
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    font-weight: var(--action-bar-font-weight);
}

.buttons > strong {
    font-weight: var(--action-bar-font-weight);
    font-size: 15px;
    margin: 0 10px;
}

.facetBoxContainer {
    overflow: hidden;
    border-radius: var(--action-bar-border-radius);

    & > div {
        position: relative;

        & > button {
            position: absolute;
            right: 6px;
            top: 6px;
            z-index: var(--z-index-normal);
        }
    }
}

.container .facetBox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: auto;
    background: var(--action-bar-facetbox-background);
    gap: var(--button-spacing);
    padding: var(--advanced-search-facets-padding);

    & > h3 {
        display: none;
    }

    & > div {
        width: var(--advanced-search-facets-width);
        flex-shrink: 0;
        margin: 0;
    }
}
