.text {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.fab {
    display: flex;
    justify-content: space-around;
    pointer-events: auto;
    position: absolute;
    top: calc(50% - 28px);
    width: 100%;
}

.text button {
    font-weight: var(--font-weight-bold);
}

.fab button {
    margin: 0;
}
