.container {
    position: fixed;
    pointer-events: none;
    z-index: var(--z-index-high);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.layer {
    display: flex;
    align-items: center;
    height: 30px;
    width: 130px;
    padding: 5px;
    background: var(--color-white);
    border-radius: 2px;
    box-shadow: var(--shadow-2p);
}

.count {
    background: var(--color-primary);
    border-radius: 50px;
    color: var(--color-white);
    padding: 5px;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 5px;
}
