.line,
.mosaic {
    position: relative;
}

.mosaic {
    margin: 5px;
    box-sizing: border-box;
}

.checkbox,
.actions {
    opacity: 0;
    position: absolute;
}

.checkbox {
    top: calc(50% - 18px);
    left: 10px;
}

.toggle .checkboxIcon {
    font-size: 24px;
}

.mosaic .checkbox {
    bottom: 5px;
    right: 5px;
}

.selected {
    cursor: pointer;
}

.line .actions {
    top: calc(50% - 18px);
    right: 10px;
}

.mosaic .actions {
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    pointer-events: none;
}

.forceDisplay,
.line:hover .checkbox,
.mosaic:hover .checkbox,
.line:hover .actions,
.mosaic:hover .actions {
    opacity: 1;
}

.timelineDate {
    width: var(--timeline-date-width);
    position: absolute;
    top: 10px;
    color: var(--timeline-date-color);
    font-size: 1em;
    font-weight: bold;
    text-align: right;
}

.timelineBadge {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12px;
    left: calc(var(--timeline-date-width) + 11px);
    background-color: var(--timeline-line-color);
    border-radius: 50%;
}

.timelinePanel {
    margin-left: calc(var(--timeline-date-width) + 45px);
    min-height: 36px;
    border-left: 2px solid var(--timeline-line-color);

    &::before {
        content: " ";
        width: 28px;
        position: absolute;
        top: 18px;
        left: calc(var(--timeline-date-width) + 17px);
        border-bottom: 2px solid var(--timeline-line-color);
    }
}

.timelineAdd {
    & button {
        font-weight: bold;
    }

    & .timelinePanel {
        border: 2px dashed var(--timeline-line-color);
        display: inline-flex;

        &::before {
            border-bottom-style: dashed;
        }
    }
}
