.list ul,
.mosaic ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mosaic ul {
    display: flex;
    flex-wrap: wrap;
}

.mosaicAdd {
    border: 1px dashed rgb(var(--palette-grey-300));
    margin: 5px;
    cursor: pointer;
}

.mosaicAdd:hover {
    background: rgba(var(--color-black), 0.15);
}

.detailWrapper {
    width: 100%;
    position: relative;
    display: inline-block;
}

.detail {
    padding: 10px;
    background: rgb(var(--palette-grey-200));
    margin: 20px 0;
}

.detail > button {
    position: absolute;
    right: 4px;
    top: 24px;
}

.triangle {
    position: absolute;
    top: 5px;
    left: calc(50% - 7.5px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: transparent transparent rgb(var(--palette-grey-200));
}

.line,
.mosaic {
    position: relative;
}

.mosaic {
    margin: 5px;
    box-sizing: border-box;
}

.line .checkbox,
.line .actions {
    position: absolute;
}

.checkbox {
    top: calc(50% - var(--checkbox-state-size) / 2);
    left: 10px;
}

.mosaic .checkbox {
    bottom: 5px;
    right: 5px;
}

.line--selected,
.mosaic--selected {
    cursor: pointer;
}

.line .actions {
    top: calc(50% - var(--icon-button-size) / 2);
    right: 10px;
}

.mosaic .actions {
    top: 0;
    right: 0;
    background: rgba(var(--color-black), 0.15);
    pointer-events: none;
}
