:root {
    --list-base-empty-padding: 5px;
    --list-base-bottom-padding: 10px 0;
    --list-base-pagination-text-padding: 0 12px;
}

.add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    width: 100%;
    height: 100%;

    & span {
        font-size: 35px;
    }
}

.empty {
    padding: var(--list-base-empty-padding);
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomRow:has(> *) {
    padding: var(--list-base-bottom-padding);
}

.loading {
    margin: auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.items {
    padding: var(--list-base-pagination-text-padding);
}
