.wrapper {
    padding: 5px;
}

.bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 55px;
    float: right;
}

.bar button {
    font-weight: bold;
}
