.list ul,
.mosaic ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mosaic ul {
    display: flex;
    flex-wrap: wrap;
}

.mosaicAdd {
    border: 1px dashed #ccc;
    padding: 65px 20px;
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.mosaicAdd:hover {
    background: rgba(0, 0, 0, 0.15);
}

.add {
    display: block;
    text-align: center;
    font-size: 24px;
}

.detailWrapper {
    width: 100%;
    position: relative;
    display: inline-block;
}

.detail {
    padding: 10px;
    background: #e8e8e8;
    margin: 20px 0;
}

.detail > button {
    position: absolute;
    right: 4px;
    top: 24px;
}

.triangle {
    position: absolute;
    top: 5px;
    left: calc(50% - 7.5px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: transparent transparent #e8e8e8;
}

.loading {
    padding: 5px;
}

.line,
.mosaic {
    position: relative;
}

.mosaic {
    margin: 5px;
    box-sizing: border-box;
}

.checkbox,
.actions {
    opacity: 0;
    position: absolute;
}

.checkbox {
    top: calc(50% - 18px);
    left: 10px;
}

.toggle .checkboxIcon {
    font-size: 24px;
}

.mosaic .checkbox {
    bottom: 5px;
    right: 5px;
}

.line--selected,
.mosaic--selected {
    cursor: pointer;
}

.line .actions {
    top: calc(50% - 18px);
    right: 10px;
}

.mosaic .actions {
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    pointer-events: none;
}

.actions--forceDisplay,
.checkbox--forceDisplay,
.line:hover .checkbox,
.mosaic:hover .checkbox,
.line:hover .actions,
.mosaic:hover .actions {
    opacity: 1;
}
