:root {
    --list-base-empty-padding: 5px;
    --list-base-bottom-padding: 10px 0;
    --list-base-pagination-text-padding: 0 12px;

    --list-base-mosaic-add-icon-size: 24px;
    --list-base-mosaic-add-text-size: 16px;
}

.mosaicAdd {
    --button-height: 100%;
    --button-icon-size: var(--list-base-mosaic-add-icon-size);
    --button-text-size: var(--list-base-mosaic-add-text-size);

    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: var(--button-spacing);

    & .mosaicAddIcon {
        height: auto;
        position: static;
    }

    & .mosaicAddLabel {
        margin: 0 !important;
        height: auto;
    }
}

.empty {
    padding: var(--list-base-empty-padding);
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomRow:has(> *) {
    padding: var(--list-base-bottom-padding);
}

.loading {
    margin: auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.items {
    padding: var(--list-base-pagination-text-padding);
}
