.add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    width: 100%;
    height: 100%;

    & span {
        font-size: 35px;
    }
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.bottomRow button {
    margin: 0;
    font-weight: var(--font-weight-bold);
    text-transform: none;
}

.loading {
    padding: 5px;
}

table + .loading {
    margin-top: 5px;
}
