:root {
    --table-font-size: 13px;
    --table-border-radius: 12px;
    --table-box-shadow: var(--shadow-2p);

    --table-row-height: 48px;
    --table-cell-padding: 18px;
    --table-column-min-width: 0px;

    --table-divider: 1px solid rgb(var(--color-divider));

    --table-header-sort-icon-size: 24px;
    --table-header-sort-label-border: 1px dashed;

    --table-header-color: rgb(var(--palette-grey-500));
    --table-header-background-color: inherit;
    --table-header-sorted-color: rgb(var(--color-primary));

    --table-header-selected-color: rgb(var(--color-primary-light));
    --table-header-background-selected-color: rgb(var(--color-primary));
    --table-header-sorted-selected-color: rgb(var(--color-white));

    --table-row-color: rgb(var(--color-black));
    --table-row-background-color: inherit;
    --table-row-background-hover-color: rgb(var(--palette-grey-200));
    --table-row-background-active-color: rgb(var(--palette-grey-300));

    --table-row-selected-color: var(--table-row-color);
    --table-row-background-selected-color: var(--table-row-background-color);
    --table-row-background-hover-selected-color: var(--table-row-background-hover-color);
    --table-row-background-active-selected-color: var(--table-row-background-active-color);
}

.table {
    background-color: rgb(var(--color-white));
    box-shadow: var(--table-box-shadow);
    border-collapse: collapse;
    font-size: var(--table-font-size);
    width: 100%;
    border-radius: var(--table-border-radius);
}

.table td {
    border-top: var(--table-divider);
}

.table th {
    &:first-child {
        border-top-left-radius: var(--table-border-radius);
    }

    &:last-child {
        border-top-right-radius: var(--table-border-radius);
    }
}

.table tbody tr:last-child td {
    &:first-child {
        border-bottom-left-radius: var(--table-border-radius);
    }

    &:last-child {
        border-bottom-right-radius: var(--table-border-radius);
    }
}

.header,
.row {
    transition: background-color var(--animation-duration-short) var(--animation-curve-default);
}

.header {
    white-space: nowrap;
    background-color: var(--table-header-background-color);
}

.row {
    color: var(--table-row-color);
    background-color: var(--table-row-background-color);

    --button-secondary-color: var(--table-row-color);
    --input-outline-color: var(--table-row-color);
}

.header--selected {
    --focus-ring-color: var(--table-header-sorted-selected-color);

    --table-header-color: var(--table-header-selected-color);
    --table-header-background-color: var(--table-header-background-selected-color);
    --table-header-sorted-color: var(--table-header-sorted-selected-color);

    --input-on-main-color: var(--table-header-sorted-selected-color);
    --input-on-secondary-color: var(--table-header-background-selected-color);
    --input-state-color: rgb(var(--palette-grey-100));
    --input-state-hover-color: rgba(var(--palette-grey-100), var(--input-hover-opacity));

    --button-secondary-color: var(--table-header-sorted-selected-color);
}

.row--clickable {
    cursor: pointer;

    &:hover {
        background-color: var(--table-row-background-hover-color);
    }

    &:active {
        background-color: var(--table-row-background-active-color);
    }
}

.row--selected {
    --table-row-color: var(--table-row-selected-color);
    --table-row-background-color: var(--table-row-background-selected-color);
    --table-row-background-hover-color: var(--table-row-background-hover-selected-color);
}

.heading,
.cell {
    padding: 0 var(--table-cell-padding);
    height: var(--table-row-height);
    text-align: left;
    min-width: var(--table-column-min-width);

    &:first-of-type {
        padding-left: calc(var(--table-cell-padding) * 2);
    }

    &:last-of-type {
        padding-right: calc(var(--table-cell-padding) * 2);
    }
}

.heading {
    color: var(--table-header-color);
    font-weight: var(--font-weight-bold);
    line-height: var(--table-header-sort-icon-size);
    text-overflow: ellipsis;
}

.sortIcon,
.label {
    transition: color var(--animation-duration-short) var(--animation-curve-default),
        border-color var(--animation-duration-short) var(--animation-curve-default);
    vertical-align: middle;
}

.sortIcon {
    opacity: 0;
    font-size: var(--table-header-sort-icon-size);
    margin-left: calc(-1.1 * var(--table-header-sort-icon-size));
    margin-right: calc(0.1 * var(--table-header-sort-icon-size));
}

.label {
    display: inline-block;
    border-top: var(--table-header-sort-label-border) transparent;
    border-bottom: var(--table-header-sort-label-border) transparent;
}

.heading--sortable {
    cursor: pointer;

    & .label {
        border-bottom-color: var(--table-header-color);
    }
}

.heading--sortable:hover .label {
    border-bottom-color: var(--table-header-sorted-color);
}

.heading--sortable:hover,
.heading--sorted {
    color: var(--table-header-sorted-color);

    & .sortIcon {
        opacity: 1;
        color: var(--table-header-sorted-color);
    }
}

.checkbox,
.actions {
    width: 0;
    padding: 0 calc(var(--table-cell-padding) / 2);
    text-align: right;
}

.actions--hidden > div {
    visibility: hidden;
}
