:root {
    --table-font-size: 13px;
    --table-border-radius: 12px;
    --table-box-shadow: var(--shadow-2p);

    --table-header-font-size: 12px;
    --table-header-sort-icon-size: 16px;
    --table-header-color: rgba(var(--color-black), 0.54);
    --table-header-sorted-color: rgba(var(--color-black), 0.87);
    --table-header-sorted-icon-hover-color: rgba(var(--color-black), 0.26);

    --table-dividers: 1px solid rgb(var(--color-divider));

    --table-row-color: rgba(var(--color-black), 0.87);
    --table-hover-color: rgb(var(--palette-grey-200));

    --table-selection-color: inherit;
    --table-selection-hover-color: var(--table-hover-color);

    --table-row-height: 48px;

    --table-column-spacing: 36px;
    --table-column-padding: calc(var(--table-column-spacing) / 2);

    --table-cell-padding: 24px;
    --table-cell-top: calc(var(--table-cell-padding) / 2);
}

.table tr td.checkbox {
    width: 34px;
    padding: 0 8px 0 12px;
}

.checkbox label {
    --checkbox-state-size: 36px;
    opacity: 0;
}

.checkbox--forceDisplay label,
.table tr:hover td.checkbox label {
    opacity: 1;
}

.table {
    background-color: rgb(var(--color-white));
    box-shadow: var(--table-box-shadow);
    border-collapse: collapse;
    font-size: var(--table-font-size);
    width: 100%;
    border-radius: var(--table-border-radius);
}

.table thead {
    padding-bottom: 3px;
    white-space: nowrap;
}

.table thead tr:first-child th {
    &:first-child {
        border-top-left-radius: var(--table-border-radius);
    }

    &:last-child {
        border-top-right-radius: var(--table-border-radius);
    }
}

.table tbody tr.row {
    transition: background-color var(--animation-duration-short) var(--animation-curve-default);

    &.row--clickable {
        cursor: pointer;

        &:hover {
            background-color: var(--table-hover-color);
        }
    }

    &.row--selected {
        background-color: var(--table-selection-color);

        &:hover {
            background-color: var(--table-selection-hover-color);
        }
    }
}

.table td,
.table th {
    color: var(--table-row-color);
    padding: 0 var(--table-column-padding);
    text-align: left;
}

.table td {
    border-bottom: var(--table-dividers);
    border-top: var(--table-dividers);
    height: var(--table-row-height);
}

.table th {
    color: var(--table-header-color);
    font-weight: var(--font-weight-bold);
    height: var(--table-row-height);
    line-height: 24px;
    text-overflow: ellipsis;
}

.table tbody tr:last-child {
    & td {
        border-bottom: none;

        &:first-child {
            border-bottom-left-radius: var(--table-border-radius);
        }

        &:last-child {
            border-bottom-right-radius: var(--table-border-radius);
        }
    }
}

.table td:first-of-type,
.table th:first-of-type {
    padding-left: 34px;
}

.table td:last-of-type,
.table th:last-of-type {
    padding-right: 34px;
}

.sortable {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all ease-out 0.1s;

    & span:first-child {
        transition: all ease-out 0.1s;
        margin-left: -26px;
        margin-right: 2px;
        opacity: 0;
    }
}

.headerText {
    display: inline-block;
    border: 1px dashed transparent;
    transition: all ease-out 0.1s;
}

.sortable:not(.sortable--sorted),
.sortable:hover {
    & .headerText {
        border-bottom-color: var(--table-header-color);
    }
}

.sortable:hover .headerText {
    border-bottom-color: rgb(var(--color-primary));
}

.sortable:hover,
.sortable--sorted {
    color: rgb(var(--color-primary));

    & span:first-child {
        opacity: 1;
    }
}
