.table tr td.checkbox {
    width: 34px;
    padding: 0 8px 0 12px;
}

.checkbox button {
    opacity: 0;
}

.toggle .checkboxIcon {
    font-size: 24px;
}

.checkbox--forceDisplay button,
.table tr:hover td.checkbox button {
    opacity: 1;
}

/* Ci-dessous, recopie du CSS du tableau react-toolbox */

.table {
    background-color: var(--color-white);
    border-collapse: collapse;
    font-size: var(--table-font-size);
    width: 100%;
}

.table thead {
    padding-bottom: calc(0.3 * var(--unit));
    white-space: nowrap;
}

.table tbody tr {
    transition-duration: 0.28s;
    transition-property: background-color;
    transition-timing-function: var(--animation-curve-default);

    &:hover {
        background-color: var(--table-hover-color);
    }
}

.table td,
.table th {
    color: var(--table-row-color);
    padding: 0 var(--table-column-padding);
    text-align: left;
}

.table td {
    border-bottom: var(--table-dividers);
    border-top: var(--table-dividers);
    height: var(--table-row-height);
}

.table th {
    color: var(--table-header-color);
    font-weight: var(--font-weight-bold);
    height: var(--table-row-height);
    line-height: calc(2.4 * var(--unit));
    text-overflow: ellipsis;
}

.table td:first-of-type,
.table th:first-of-type {
    padding-left: 34px;
}

.table td:last-of-type,
.table th:last-of-type {
    padding-right: 34px;
}

.clickable {
    cursor: pointer;
}

.sortable {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all ease-out 0.1s;

    & span:first-child {
        transition: all ease-out 0.1s;
        margin-left: -26px;
        margin-right: 2px;
        opacity: 0;
    }
}

.headerText {
    display: inline-block;
    border: 1px dashed transparent;
    transition: all ease-out 0.1s;
}

.sortable:not(.sortable--sorted),
.sortable:hover {
    & .headerText {
        border-bottom-color: var(--table-header-color);
    }
}

.sortable:hover .headerText {
    border-bottom-color: var(--color-primary);
}

.sortable:hover,
.sortable--sorted {
    color: var(--color-primary);

    & span:first-child {
        opacity: 1;
    }
}
