:root {
    --timeline-date-width: 100px;
    --timeline-date-color: rgb(var(--color-accent));
    --timeline-line-color: rgb(var(--color-primary));
}

.timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
}

.timeline::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(var(--timeline-date-width) + 17px);
    width: 2px;
    background-color: var(--timeline-line-color);
    content: " ";
}

.timeline > li {
    position: relative;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

.timeline > div {
    margin-left: calc(var(--timeline-date-width) + 27px);
    padding: 0;
}

.date {
    width: var(--timeline-date-width);
    position: absolute;
    top: 10px;
    color: var(--timeline-date-color);
    font-size: 1em;
    font-weight: var(--font-weight-bold);
    text-align: right;
}

.badge {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12px;
    left: calc(var(--timeline-date-width) + 11px);
    background-color: var(--timeline-line-color);
    border-radius: 50%;
}

.panel {
    margin-left: calc(var(--timeline-date-width) + 45px);
    min-height: 36px;
    border-left: 2px solid var(--timeline-line-color);

    &::before {
        content: " ";
        width: 28px;
        position: absolute;
        top: 18px;
        left: calc(var(--timeline-date-width) + 17px);
        border-bottom: 2px solid var(--timeline-line-color);
    }
}

.add {
    & button {
        font-weight: var(--font-weight-bold);
    }

    & .panel {
        border: 2px dashed var(--timeline-line-color);
        display: inline-flex;

        &::before {
            border-bottom-style: dashed;
        }
    }
}
