@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";
@import "react-toolbox/lib/input/config.css";

.field {
    display: flex;
    align-items: stretch;
}

.label {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

.display {
    font-size: 16px;
    line-height: 20px;
}

.label,
.value {
    padding: 8px;
    box-sizing: border-box;
}

.edit.required .label::after {
    content: "*";
    margin-left: 3px;
}

.edit .label {
    line-height: 23px;
}

.edit .value {
    margin-top: -27px;
    margin-bottom: -15px;
}

.edit.invalid [data-react-toolbox="input"] {
    margin-bottom: -1px;
    margin-top: -1px;
}

.edit.invalid .label {
    color: var(--input-text-error-color);
}
