@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";
@import "react-toolbox/lib/input/config.css";

.field {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.label,
.value {
    flex-shrink: 0;
    padding: 8px;
    box-sizing: border-box;
}

.edit.required .label label::after {
    content: "*";
    margin-left: 3px;
}

.edit [data-react-toolbox="input"],
.edit [data-focus="select"] {
    margin-top: -27px;
    margin-bottom: -15px;

    & > span {
        white-space: nowrap;
    }
}

.edit.invalid [data-react-toolbox="input"] {
    margin-top: -28px;
}

.invalid .label label {
    color: var(--input-text-error-color);
}
