.field {
    display: flex;
    align-items: stretch;
}

.label {
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
}

.display {
    font-size: 16px;
}

.label,
.display {
    padding: 8px;
    box-sizing: border-box;
}

.value {
    white-space: pre;
}

.edit.required .label::after {
    content: "*";
    margin-left: 3px;
}

.edit .label {
    line-height: 23px;
}

.edit .value select {
    margin: 2px 0;
}

.edit .value .field > div {
    width: 250px;
}

.edit.invalid .label {
    color: rgb(222, 50, 38);
}

.input {
    padding: 0 0 20px 8px;
}

.errored {
    padding: 0 0 0 8px;
}

.errored .inputElement {
    margin-top: 0;
}
