.center {
    z-index: 1002;
}

.error {
    background-color: #de3226;
}

.success {
    background-color: #2ac955;
}

.warning {
    background-color: #ffae00;
}

.center :global(.mdl-snackbar__close) {
    cursor: pointer;
    background: transparent;
    float: right;
    border: none;
    text-transform: uppercase;
    padding: 14px;
    line-height: 1;
    letter-spacing: 0;
    outline: none;
    text-align: center;
    align-self: center;
}

.center :global(.mdl-snackbar__close) i {
    color: white;
    font-size: 12px;
}
