@import "../../style/message-center.css";

.center {
    z-index: var(--message-center-z-index);
}

.center :global(.mdl-snackbar__text) {
    color: var(--message-center-color);
}

.error {
    background-color: var(--message-center-error-color);
}

.success {
    background-color: var(--message-center-success-color);
}

.warning {
    background-color: var(--message-center-warning-color);
}

.center :global(.mdl-snackbar__close) {
    cursor: pointer;
    background: transparent;
    float: right;
    border: none;
    text-transform: uppercase;
    padding: 14px;
    line-height: 1;
    letter-spacing: 0;
    outline: none;
    text-align: center;
    align-self: center;
}

.center :global(.mdl-snackbar__close) i {
    color: var(--message-center-color);
    font-size: 12px;
}
