.center {
    position:fixed;
    bottom: 60px;
    right: 10px;
    z-index: 9999999;
    max-width: 300px;
    min-width: 200px;
    background-color: tomato;
    color: white;
}

.counter {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.actions {
    display: flex;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    justify-content: space-around;
}

.stack {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.stack li {
    background: transparent;
    padding: 5px;
    width: 300px;
    height: 92px;
    margin-top: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
