html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

.layout {
    background-color: #fafafa;
    height: auto;
    min-height: 100%;
}

.content {
    margin-left: 10px;
    padding: 10px 20px 20px;
}

footer {
    position: fixed;
    bottom: 0;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    padding-left: 70px;
    width: 100%;
}

.hasMenu .content {
    padding-left: 70px;
}

.hasMenu footer,
.hasMenu header {
    padding-left: 60px;
}
