@import "../../style/popin.css";
@import "react-toolbox/lib/overlay/config.css";

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: var(--overlay-opacity);
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut {
    from {
        opacity: var(--overlay-opacity);
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    animation-name: slideInRight;
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}

.slideOutLeft {
    animation-name: slideOutLeft;
}

@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}

.slideOutRight {
    animation-name: slideOutRight;
}

.overlay {
    animation-duration: var(--animation-duration);
    animation-fill-mode: both;
    z-index: var(--z-index-higher);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlay-color);
    opacity: var(--overlay-opacity);
}

.popin {
    animation-duration: var(--animation-duration);
    animation-fill-mode: both;
    z-index: var(--z-index-higher);
    position: fixed;
    top: 0;
    width: 50vw;
    height: 100vh;
    background: var(--popin-background);
    box-shadow: var(--shadow-4p);
    overflow-y: auto;
    box-sizing: border-box;
}

.left {
    left: 60px;
}

.right {
    right: 0;
}

.overlay > button {
    z-index: var(--z-index-higher);
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: calc(50vw - 45px);
    color: white !important;

    & > [data-react-toolbox="font-icon"] {
        font-size: 24px;
    }
}
