@import "react-toolbox/lib/variables.css";

.container {
    position: relative;
}

.sticky {
    position: absolute;
    z-index: var(--z-index-high);
}

.scrollable {
    overflow: auto;
    height: 100%;
}
