.container {
    position: relative;
}

.sticky {
    position: absolute;
    z-index: var(--z-index-high);
    pointer-events: none;
    bottom: 15px;

    & > * {
        pointer-events: auto;
        overflow-y: auto;
        box-sizing: border-box;
    }
}

.scrollable {
    overflow: auto;
    height: 100%;
}
