.container {
    position: relative;
}

.menu {
    position: absolute;
    z-index: var(--z-index-high);
    pointer-events: none;
    bottom: 0;
    background: rgba(0, 0, 0, 0.05);

    & > *:not(button) {
        pointer-events: auto;
        overflow-y: auto;
        box-sizing: border-box;
    }
}

.scrollable {
    overflow: auto;
    height: 100%;
}

.menuButton {
    position: absolute;
    pointer-events: auto;
    height: 50px;
    z-index: var(--z-index-higher);
    right: -12px;
    background: rgba(0, 0, 0, 0.05);
    width: 0;
    min-width: 0;
    padding: 6px;

    & > span {
        margin-left: -8px;
    }
}
