.fab {
    display: flex;
    justify-content: space-around;
    pointer-events: auto;
    position: absolute;
    top: calc(50% - 20px);
    width: 100%;
}

.text button {
    font-weight: bold;
}

.fab button {
    margin: 0;
}

.text :global([data-focus="dropdown"]) {
    height: 32px;
}

.fab :global([data-focus="dropdown"]) {
    height: 40px;
}
