@import "../../../style/line.css";

.line {
    position: relative;
}

.mosaic {
    position: relative;
    margin: 5px;
    box-sizing: border-box;
}

.checkbox,
.actions {
    z-index: var(--z-index-normal);
    display: none;
    position: absolute;
}

.line .checkbox {
    top: calc(50% - 18px);
    left: 10px;
}

.mosaic .checkbox {
    bottom: 5px;
    right: 5px;
    z-index: var(--z-index-normal);
}

.selected {
    cursor: pointer;
}

.line .actions {
    top: calc(50% - 18px);
    right: 0;
}

.mosaic .actions {
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    pointer-events: none;
}

.isSelection,
.line:hover .checkbox,
.mosaic:hover .checkbox,
.line:hover .actions,
.mosaic:hover .actions {
    display: block;
}

.timelineDate {
    color: black;
    position: absolute;
    top: 23px;
    margin-left: -130px;
    font-size: 1em;
}

.timelineBadge {
    color: white;
    width: 15px;
    height: 15px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 25px;
    margin-left: -45px;
    background-color: #999;
    z-index: var(--z-index-high);
    border-radius: 50%;
}

.timelinePanel {
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 10px 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.18);
    width: 100%;
    box-sizing: border-box;
    background: white;
}

.timelinePanel::before {
    left: -15px;
    right: auto;
    position: absolute;
    top: 16px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 0 solid #ccc;
    border-right: 15px solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timelinePanel::after {
    left: -14px;
    right: auto;
    position: absolute;
    top: 17px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 0 solid white;
    border-right: 15px solid white;
    border-bottom: 14px solid transparent;
    content: " ";
}
