.line {
    position: relative;
}

.mosaic {
    position: relative;
    margin: 5px;
    box-sizing: border-box;
}

.selection:hover .unselected {
    border-left: 5px solid #ffd657;
}

.checkbox {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 60px;
    display: none;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
}

.checkbox > div {
    height: 26px;
}

.checkbox :global(.mdl-checkbox__focus-helper),
.checkbox :global(.mdl-checkbox__box-outline) {
    width: 18px;
    height: 18px;
}

.selection:hover .checkbox {
    display: flex;
}

.actions {
    position: absolute;
    top: calc(50% - 17px);
    right: 0;
    z-index: 1;
    display: none;
}

.line:hover .actions,
.mosaic:hover .actions {
    display: block;
}

.selected {
    display: flex;
    border-left: 5px solid rgb(63, 81, 181);
}

.timelineDate {
    color: black;
    position: absolute;
    top: 23px;
    margin-left: -130px;
    font-size: 1em;
}

.timelineBadge {
    color: white;
    width: 15px;
    height: 15px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 25px;
    margin-left: -45px;
    background-color: #999;
    z-index: 100;
    border-radius: 50%;
}

.timelinePanel {
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 10px 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.18);
    width: 100%;
    box-sizing: border-box;
    background: white;
}

.timelinePanel::before {
    left: -15px;
    right: auto;
    position: absolute;
    top: 16px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 0 solid #ccc;
    border-right: 15px solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timelinePanel::after {
    left: -14px;
    right: auto;
    position: absolute;
    top: 17px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 0 solid white;
    border-right: 15px solid white;
    border-bottom: 14px solid transparent;
    content: " ";
}
