.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline {
    list-style: none;
    padding: 20px 0;
    position: relative;
}

.timeline::before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eee;
}

.timeline > li {
    margin-bottom: 10px;
    margin-left: 38px;
    position: relative;
}

.timeline > li::before,
.timeline > li::after {
    content: " ";
    display: table;
}

.timeline > li::after {
    clear: both;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.buttons button {
    margin: 0;
}

.buttons button:global(:not(.mdl-button--raised)) {
    font-weight: bold;
    text-transform: none;
}
