.list,
.mosaic {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mosaic {
    display: flex;
    flex-wrap: wrap;
}

.timeline {
    list-style: none;
    padding: 20px 0;
    position: relative;
}

.timeline::before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eee;
}

.timeline > li {
    margin-bottom: 10px;
    margin-left: 38px;
    position: relative;
}

.timeline > li::before,
.timeline > li::after {
    content: " ";
    display: table;
}

.timeline > li::after {
    clear: both;
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.bottomRow button {
    margin: 0;
}

.bottomRow button:global(:not(.mdl-button--raised)) {
    font-weight: bold;
    text-transform: none;
}

.mosaicAdd {
    border: 1px dashed #ccc;
    padding: 65px 20px;
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.mosaicAdd:hover {
    background: rgba(0, 0, 0, 0.15);
}

.mosaicAdd i {
    display: block;
    text-align: center;
    font-size: 24px;
}
