input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.autocomplete {
    padding: 0;
}

.suggestions:not(.up) {
    margin-top: -5px;
}

.suggestions.up {
    bottom: 60px;
}

.progressBar {
    margin-top: -22px;
    margin-bottom: 5px;
    display: block;
    height: 2px;
}
