:root {
    --display-line-height: 24px;
}

.display {
    font-size: var(--text-field-font-size);
    min-height: var(--display-line-height);
    line-height: var(--display-line-height);
    padding: calc((var(--text-field-height) - var(--display-line-height)) / 2) 0;
}
