:root {
    --label-font-size: 14px;
}

.label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
    font-weight: bold;
    font-size: var(--label-font-size);
    line-height: var(--text-field-height);
}

.icon {
    font-size: 22px;
    margin: -1px -2px 0 5px;
    cursor: default;
}

.icon--clickable {
    cursor: pointer;
}
