:root {
    --panel-title-border: 1px solid rgba(var(--color-black), 0.1);
    --panel-title-color: rgb(var(--color-primary));
    --panel-shadow: var(--shadow-4p);
}

.progress {
    position: absolute;
    height: 3px;
    z-index: var(--z-index-normal);
}

.panel {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: var(--panel-shadow);
    background: rgb(var(--color-white));
    border-radius: 2px;
}

.title {
    min-height: 36px;
    padding: 8px 16px;
    display: flex;
    align-items: center;

    & h3 {
        margin: 0;
        padding: 2px 0;
        font-size: 22px;
        color: var(--panel-title-color);
        display: inline-block;

        & button {
            margin-left: 5px;
            margin-top: -4px;
        }
    }
}

.title--top {
    border-bottom: var(--panel-title-border);
    justify-content: space-between;
}

.title--bottom {
    border-top: var(--panel-title-border);
    justify-content: flex-end;
}

.actions {
    display: none;
}

.panel--editing,
.panel:hover {
    & > .title > .actions {
        display: block;
    }
}

.content {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    position: relative;
}

.panel--loading .content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(var(--color-white));
    opacity: 0.7;
}
