:root {
    --panel-title-border: 1px solid rgba(var(--color-black), 0.1);
    --panel-title-color: rgb(var(--color-primary));
    --panel-shadow: var(--shadow-2p);
    --panel-border-radius: 12px;
}

.panel {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: var(--panel-shadow);
    background: rgb(var(--color-white));
    border-radius: var(--panel-border-radius);
}

.title {
    min-height: 36px;
    padding: 8px;
    display: flex;
    align-items: center;

    & h3 {
        margin: 0;
        padding: 0 8px;
        font-size: 20px;
        color: var(--panel-title-color);
    }
}

.title--top {
    border-bottom: var(--panel-title-border);
    justify-content: space-between;
}

.title--bottom {
    border-top: var(--panel-title-border);
    justify-content: flex-end;
}

.panel--editing .actions {
    display: block;
}

.content {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    position: relative;
}

.panel--loading .content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(var(--color-white));
    opacity: 0.7;
    border-radius: var(--panel-border-radius);
}

.progress {
    --progress-indicator-width: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-index-normal);
}

.title--top + .content .progress {
    top: -2px;
}

.progress--bottom {
    bottom: -2px;
    top: initial;
}
