.select {
    position: relative;
    display: inline-block;

    & select {
        font-family: var(--preferred-font);
        border: var(--text-field-outline-size) solid var(--input-state-color);
        border-radius: var(--text-field-border-radius);
        color: var(--input-text-color);
        height: var(--text-field-height);
        font-size: var(--text-field-font-size);
        appearance: none;
        padding: var(--text-field-padding-vertical)
            calc(var(--text-field-padding-horizontal) + var(--text-field-icon-size)) var(--text-field-padding-vertical)
            var(--text-field-padding-horizontal);
        background: transparent;
        transition: border-color var(--animation-duration-short) var(--animation-curve-default) 0s;
        width: 100%;
    }

    & select:hover {
        border-color: var(--input-outline-color);
    }

    & select:focus {
        outline-color: var(--input-on-main-color);
    }

    & option {
        background: var(--input-on-secondary-color);
    }

    &::before {
        content: "\E313";
        font-family: "Material Icons";
        position: absolute;
        top: calc(var(--text-field-padding-vertical) + var(--text-field-outline-size));
        right: var(--text-field-icon-padding);
        pointer-events: none;
        font-size: var(--text-field-icon-size);
        height: var(--text-field-icon-size);
        line-height: var(--text-field-icon-size);
    }
}

.supportingText {
    padding: var(--text-field-supporting-text-padding) var(--text-field-padding-horizontal);
    color: var(--input-state-color);
    line-height: var(--text-field-supporting-text-height);
    min-height: var(--text-field-supporting-text-height);
    font-size: var(--text-field-supporting-text-size);
}

.select--error {
    & select {
        border-color: var(--input-error-color);
    }

    & .supportingText {
        color: var(--input-error-color);
    }
}
