.select ul {
    padding: 0;
    margin: -2px -4px;
}

.option {
    --checkbox-state-ratio: 1.41;

    list-style: none;
    display: flex;
    align-items: center;
    color: rgb(var(--color-black));

    & > label {
        margin-left: 6px;
    }
}

.error {
    color: var(--input-text-error-color);
    font-size: var(--input-label-font-size);
    line-height: 20px;
    margin-top: -4px;
    margin-bottom: -20px;
    white-space: nowrap;
}
