:root {
    --header-actions-margin-right: 200px;
    --header-actions-margin-right-mobile: 80px;
    --header-color: rgb(var(--color-black));
    --header-content-background: rgb(var(--color-white));
    --header-content-padding: 20px 10px;
    --header-toprow-background: rgb(var(--color-white));
    --header-toprow-height: 60px;
    --header-toprow-padding: 10px;
    --header-shadow: var(--shadow-2p);
}

.actions button {
    margin: 0 5px;
}

.content {
    background-color: var(--header-content-background);
    padding: var(--header-content-padding);
}

.topRow {
    background-color: var(--header-toprow-background);

    & > div {
        padding: var(--header-toprow-padding);
        display: table;
    }
}

.item {
    height: calc(var(--header-toprow-height) - 2 * var(--header-toprow-padding));
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
}

.item--left {
    text-align: left;
}

.item--middle {
    width: 100%;
}

.item--right {
    text-align: right;
}

.scrolling {
    position: relative;
    color: var(--header-color);
    box-shadow: var(--header-shadow);
    z-index: calc(var(--z-index-high) + 1);
}

.scrolling--deployed .item--middle {
    opacity: 0;
}

.scrolling--deployed .actions {
    position: absolute;
    right: 0;
    bottom: -28px;
}

.scrolling--undeployed {
    opacity: 0;
}

.scrolling--sticky {
    position: absolute;
    top: 0;
}

.scrolling--undeployed,
.scrolling--sticky {
    & .content {
        display: none;
    }

    & .actions {
        position: absolute;
        top: 30px;
        right: 0;
    }
}

.scrolling .actions {
    margin-right: var(--header-actions-margin-right-mobile);
}

@media (min-width: 840px) {
    .scrolling .actions {
        margin-right: var(--header-actions-margin-right);
    }
}
