:root {
    --header-actions-margin-right: 200px;
    --header-actions-margin-right-mobile: 80px;
    --header-color: rgb(var(--color-black));
    --header-content-background: rgb(var(--color-white));
    --header-content-padding: 20px 10px;
    --header-toprow-background: rgb(var(--color-white));
    --header-toprow-height: 60px;
    --header-toprow-padding: 10px;
    --header-shadow: var(--shadow-2p);
}

.content {
    background-color: var(--header-content-background);
    padding: var(--header-content-padding);
}

.topRow {
    display: flex;
    align-items: flex-start;
    background-color: var(--header-toprow-background);
    padding: var(--header-toprow-padding);
    box-sizing: border-box;
}

.item {
    min-height: calc(var(--header-toprow-height) - 2 * var(--header-toprow-padding));
    padding: 0 15px;
    flex-shrink: 0;
}

.item--fillWidth {
    flex-grow: 1;
}

.scrolling {
    position: relative;
    color: var(--header-color);
    box-shadow: var(--header-shadow);
    z-index: calc(var(--z-index-high) + 1);
}

.scrolling--deployed .item--stickyOnly {
    visibility: hidden;
}

.scrolling--undeployed {
    visibility: hidden;
}

.scrolling--sticky {
    position: absolute;
    top: 0;
}

.scrolling .actions {
    display: inline-flex;
    position: absolute;
    right: 0;
    bottom: calc(-1 * var(--floating-action-button-size) / 2);
    margin-right: var(--header-actions-margin-right-mobile);
}

@media (min-width: 840px) {
    .scrolling .actions {
        margin-right: var(--header-actions-margin-right);
    }
}

.secondaryActions {
    position: relative;
}

.actions button + button,
button + .secondaryActions {
    margin-left: 9px;
}

.scrolling--undeployed,
.scrolling--sticky {
    & .content {
        display: none;
    }

    & .actions {
        --floating-action-button-icon-size: var(--floating-action-button-icon-size-small);
        --floating-action-button-border-radius: var(--floating-action-button-border-radius-small);
        --floating-action-button-size: var(--floating-action-button-size-small);
        bottom: calc(-3 * var(--floating-action-button-size) / 5);
    }

    & .actions button + button,
    & button + .secondaryActions {
        margin-left: 6px;
    }
}
