:root {
    --header-actions-margin-right: 200px;
    --header-actions-margin-right-mobile: 80px;
    --header-color: rgb(var(--color-black));
    --header-content-background: rgb(var(--color-white));
    --header-content-padding: 20px 10px;
    --header-toprow-background: rgb(var(--color-white));
    --header-toprow-height: 60px;
    --header-toprow-padding: 10px;
    --header-box-shadow: var(--shadow-2p);
}

.scrolling {
    display: contents;
    color: var(--header-color);
    box-shadow: var(--header-box-shadow);
    z-index: calc(var(--z-index-high) + 1);
}

.content {
    background-color: var(--header-content-background);
    padding: var(--header-content-padding);
}

.topRow {
    position: sticky;
    top: 0;
    display: flex;
    align-items: flex-start;
    background-color: var(--header-toprow-background);
    padding: var(--header-toprow-padding);
    box-sizing: border-box;
    z-index: calc(var(--z-index-high) + 1);
}

.item {
    min-height: calc(var(--header-toprow-height) - 2 * var(--header-toprow-padding));
    padding: 0 15px;
    flex-shrink: 0;
}

.item--fillWidth {
    flex-grow: 1;
}

.item--stickyOnly {
    opacity: 0;
    transition: opacity var(--animation-duration-short) var(--animation-curve-default);
}

.actions {
    --animation-duration: var(--animation-duration-short);

    position: sticky;
    top: 0;
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 9px;
    margin-top: calc(-1 * var(--floating-action-button-size) / 2);
    margin-bottom: calc(-1 * var(--floating-action-button-size) / 2);
    padding-right: var(--header-actions-margin-right);
    width: 100%;
    box-sizing: border-box;
    transition: margin var(--animation-duration-short) var(--animation-curve-default);
    z-index: calc(var(--z-index-high) + 2);
}

.actions button {
    transition: all var(--animation-duration) var(--animation-curve-default);
}

@media (max-width: 840px) {
    .actions {
        padding-right: var(--header-actions-margin-right-mobile);
    }
}

.scrolling--sticky {
    & .item--stickyOnly {
        opacity: 1;
    }

    & .actions {
        --floating-action-button-icon-size: var(--floating-action-button-icon-size-small);
        --floating-action-button-border-radius: var(--floating-action-button-border-radius-small);
        --floating-action-button-size: var(--floating-action-button-size-small);
        gap: 6px;
    }
}
