@import "../../../../style/action-bar.css";

.container {
    position: relative;
    margin: var(--action-bar-margin);
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    z-index: calc(var(--z-index-normal) + 1);
    background-color: var(--action-bar-background);
    box-shadow: var(--action-bar-shadow);
    height: var(--action-bar-height);
    padding: var(--action-bar-padding);
    transition: background-color var(--action-bar-transition);
}

.selection {
    background: var(--action-bar-selection-background);
    color: var(--action-bar-selection-color);
}

.selectionToggle > .selectionIcon:not([data-react-toolbox="tooltip"]) {
    font-size: 24px;
    vertical-align: initial;
}

.selection .selectionToggle > .selectionIcon,
.selection button {
    color: var(--action-bar-selection-color) !important;
}

.searchBar {
    display: flex;
}

.searchBarField {
    margin-left: 42px !important;
    width: var(--action-bar-search-bar-width);
    padding: 0;
    height: 36px;
}

.searchBarIcon {
    top: -6px;
    left: -48px;
}

.searchBarHint {
    top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: var(--action-bar-search-bar-width);
    overflow: hidden;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    font-weight: var(--action-bar-font-weight);
}

.buttons > strong {
    font-weight: var(--action-bar-font-weight);
    font-size: 15px;
    margin: 0 10px;
}

.triangle {
    position: absolute;
    bottom: calc(-5px - var(--action-bar-padding));
    left: calc(50% - var(--action-bar-facetbox-triangle-width) / 2);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 calc(var(--action-bar-facetbox-triangle-width) / 2) var(--action-bar-facetbox-triangle-height);
    border-color: transparent transparent var(--action-bar-facetbox-background);
}

.facetBoxContainer {
    overflow: hidden;

    & > div {
        position: relative;

        & > button {
            position: absolute;
            right: 5px;
            top: 10px;
            z-index: var(--z-index-normal);
        }
    }
}

.container .facetBox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: auto;
    background: var(--action-bar-facetbox-background);

    & > h3 {
        display: none;
    }

    & > div {
        width: 275px;
        flex-shrink: 0;
        padding: 0 15px 5px;
        margin-bottom: 0;
        margin-top: -5px;
    }

    & > div:not(:last-child) {
        border-right: 1px solid var(--palette-grey-400);
    }

    ul {
        padding-left: 0;
    }
}

.dropdown {
    float: right;
    margin-left: 6px;
    margin-right: 0;
}
