@import "../../../../style/advanced-search.css";
@import "../../../../style/layout.css";

.container {
    padding: var(--content-padding-top) var(--content-padding-side) 0;
    box-sizing: border-box;
}

.facetContainer {
    float: left;
    width: var(--advanced-search-facets-width);
    box-sizing: border-box;
}

.resultContainer {
    width: 100%;
    box-sizing: border-box;
}

.facetContainer + .resultContainer {
    width: calc(100% - var(--advanced-search-facets-width) - var(--advanced-search-facets-margin-right));
    margin-left: calc(var(--advanced-search-facets-width) + var(--advanced-search-facets-margin-right));
}
