.summary {
    display: flex;
    flex-wrap: wrap;
    line-height: 37px;
    padding: 9px 0;
}

.sentence {
    font-size: 20px;
    margin-right: 6px;
}

.print {
    float: right;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 6px;
}

.chips :global([data-focus="chips"]) {
    margin: 2.5px 3px;
}
