@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";

:root {
    --panel-title-border: 1px solid rgba(0, 0, 0, 0.1);
    --panel-title-color: var(--color-primary);
    --panel-shadow: var(--shadow-4p);
}
