:root {
    --main-menu-background: rgb(var(--color-white));

    --main-menu-item-aspect-ratio: 1 / 1;
    --main-menu-item-padding: 12px;
    --main-menu-item-icon-size: 24px;
    --main-menu-item-text-size: var(--font-size-small);
    --main-menu-item-gap: 15%;

    --main-menu-item-color: rgb(var(--color-black));

    --main-menu-item-hover-opacity: 0.18;

    --main-menu-item-active-background: rgba(var(--color-primary), 0.15);
    --main-menu-item-active-color: rgb(var(--color-primary));

    --main-menu-item-opened-background: rgba(var(--color-accent), 0.15);
    --main-menu-item-opened-color: rgb(var(--color-accent));
}

.menu {
    height: 100vh;
    z-index: calc(var(--z-index-high) + 2);
    position: relative;
}

.list {
    padding: 0;
    margin: 0;
    position: relative;
    background: var(--main-menu-background);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    position: relative;
    overflow: hidden;
    user-select: none;
    font-family: var(--preferred-font);
    border: none;
    outline: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--main-menu-item-gap);
    text-decoration: none;
    background-color: transparent;
    color: var(--main-menu-item-color);
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: var(--main-menu-item-aspect-ratio);
    padding: var(--main-menu-item-padding);
    cursor: pointer;
    transition:
        background-color var(--animation-duration) var(--animation-curve-default),
        color var(--animation-duration) var(--animation-curve-default);
}

.item::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    pointer-events: none;
    opacity: 0;
    background: var(--main-menu-item-color);
    transition:
        opacity var(--animation-duration-short) var(--animation-curve-default),
        background-color var(--animation-duration) var(--animation-curve-default),
        color var(--animation-duration) var(--animation-curve-default);
}

.item:hover::before {
    opacity: var(--main-menu-item-hover-opacity);
}

.icon {
    font-size: var(--main-menu-item-icon-size);
    width: var(--main-menu-item-icon-size);
    height: var(--main-menu-item-icon-size);
}

.label {
    font-size: var(--main-menu-item-text-size);
    font-weight: var(--font-weight-semi-bold);
}

.item--active {
    &::before {
        background: var(--main-menu-item-active-color);
    }

    background: var(--main-menu-item-active-background);
    color: var(--main-menu-item-active-color);
}

.item--opened {
    &::before {
        background: var(--main-menu-item-opened-color);
    }

    background: var(--main-menu-item-opened-background);
    color: var(--main-menu-item-opened-color);
}

.item:focus-visible {
    animation-name: focus;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-curve-focus-ring);
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: calc(-1 * var(--focus-ring-width));
    border-radius: var(--menu-focus-ring-border-radius);
}

@keyframes focus {
    0% {
        outline-width: 0px;
        outline-offset: 0px;
    }
    50% {
        outline-width: calc(2 * var(--focus-ring-width));
        outline-offset: calc(-2 * var(--focus-ring-width));
    }
    100% {
        outline-width: var(--focus-ring-width);
        outline-offset: calc(-1 * var(--focus-ring-width));
    }
}

.panel {
    position: fixed;
}
