.menu {
    height: 100vh;
    z-index: calc(var(--z-index-high) + 2);
    position: relative;
}

.list {
    padding: 0;
    margin: 0;
    position: relative;
    background: var(--main-menu-background);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.toggle,
.toggle > .rippleWrapper {
    border-radius: 0;
}

.button,
.button.button--neutral:not([disabled]),
.toggle,
.toggle.toggle--neutral:not([disabled]) {
    height: var(--main-menu-item-height);
    color: var(--main-menu-item-color);
    min-width: var(--main-menu-item-height);
}

.button {
    text-align: left;
}

.button > .icon,
.toggle > .icon {
    width: 24px;
    font-size: 24px;
}

.panel {
    position: fixed;
}

.item--active {
    background: var(--main-menu-item-active-background);

    & .icon,
    & .button,
    & .button.button--neutral:not([disabled]),
    & .toggle,
    & .toggle.toggle--neutral:not([disabled]) {
        color: var(--main-menu-item-active-color);
    }
}
