.search {
    padding-top: var(--content-padding-top);
}

.facetContainer {
    float: left;
    width: var(--advanced-search-facets-width);
    padding: var(--content-padding-top) 8px 8px 12px;
    box-sizing: content-box;
}

.resultContainer {
    padding: 0 var(--content-padding-side);
    box-sizing: border-box;
}

.resultContainer--withFacetBox {
    margin-left: calc(var(--advanced-search-facets-width) + 8px);
}

.actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 9px 0;
    min-height: 56px;
    float: right;
    box-sizing: border-box;

    & button:not(:first-child):not(:last-child) {
        margin-left: 10px;
    }
}
