@import "../../../../style/advanced-search.css";
@import "../../../../style/layout.css";

.facetContainer {
    float: left;
    width: var(--advanced-search-facets-width);
    padding: var(--content-padding-top) var(--advanced-search-facets-margin-right) 0 var(--content-padding-side);
    box-sizing: content-box;
}

.resultContainer {
    width: 100%;
    padding: var(--content-padding-top) var(--content-padding-side) 0;
    box-sizing: border-box;
}

.resultContainerWithFacetBox {
    width: calc(100% - var(--advanced-search-facets-width) - var(--advanced-search-facets-margin-right));
    margin-left: calc(var(--advanced-search-facets-width) + var(--advanced-search-facets-margin-right));
}
