:root {
    --advanced-search-facets-width: 275px;
}

.search {
    padding-top: var(--content-padding-top);
}

.facetContainer {
    float: left;
    width: var(--advanced-search-facets-width);
    padding: var(--content-padding-top) 8px 8px 12px;
    box-sizing: content-box;
}

.resultContainer {
    padding: 0 var(--content-padding-side);
    box-sizing: border-box;
}

.resultContainer--withFacetBox {
    margin-left: calc(var(--advanced-search-facets-width) + 8px);
}

.topRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    & button {
        margin-bottom: 10px;
    }
}
