:root {
    --advanced-search-facets-width: 275px;
    --advanced-search-facets-padding: 8px;
}

.search {
    padding-top: var(--content-padding-top);
}

.facetContainer {
    float: left;
    width: var(--advanced-search-facets-width);
    padding: var(--content-padding-top) var(--advanced-search-facets-padding) var(--advanced-search-facets-padding);
    box-sizing: content-box;
}

.resultContainer {
    padding: 0 var(--content-padding-side);
    box-sizing: border-box;
}

.resultContainer--withFacetBox {
    margin-left: calc(var(--advanced-search-facets-width) + var(--advanced-search-facets-padding));
}

.topRow {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: calc(var(--button-height) + var(--summary-margin-bottom));
}

.actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    & button {
        margin-bottom: var(--summary-margin-bottom);
    }
}
