:root {
    --advanced-search-facets-width: 275px;
    --advanced-search-facets-padding: 10px;
}

.search {
    padding-top: var(--content-padding-top);
    position: relative;
    display: flex;
}

.facetContainer {
    width: var(--advanced-search-facets-width);
    padding: var(--advanced-search-facets-padding);
    box-sizing: content-box;
}

.resultContainer {
    padding: 0 var(--content-padding-side);
    flex: 1;
}

.stickyContainer {
    position: sticky;
    z-index: 1;
}

.topRow {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: calc(var(--button-height) + var(--summary-margin-bottom));
}

.topRow--withFacetBox {
    margin-left: calc(var(--lateral-menu-button-width) / 2);
}

.actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    & button {
        margin-bottom: var(--summary-margin-bottom);
    }
}
