.facetContainer {
    float: left;
    width: var(--advanced-search-facets-width);
    padding: var(--content-padding-top) var(--advanced-search-facets-margin-right) 0 var(--content-padding-side);
    box-sizing: content-box;
}

.resultContainer {
    width: 100%;
    padding: var(--content-padding-top) var(--content-padding-side) 0;
    box-sizing: border-box;
}

.resultContainer--withFacetBox {
    width: calc(100% - var(--advanced-search-facets-width) - var(--advanced-search-facets-margin-right));
    margin-left: calc(var(--advanced-search-facets-width) + var(--advanced-search-facets-margin-right));
}

.actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 9px 0;
    min-height: 56px;
    float: right;
    box-sizing: border-box;

    & button:not(:first-child):not(:last-child) {
        margin-left: 10px;
    }
}
