.facet {
    margin-bottom: 15px;
}

.facet:last-child {
    margin-bottom: 0;
}

.facet h4 {
    margin: 0 5px -6px 0;
    font-size: 17px;
    font-weight: bold;
}

.facet ul {
    margin: 0;
    padding: 9px 0 9px 30px;
    list-style-type: none;
    max-height: 300px;
    overflow-y: auto;
}

.facet--multiSelect ul {
    margin-left: -15px;
    padding-left: 15px;

    & label {
        margin: 0;
    }
}

.facet li {
    margin: 0;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.6;
}

.facet--multiSelect li > div:first-of-type {
    width: 100%;
    padding-left: 12px;
}

.show {
    text-align: right;
    margin: 5px 10px 0 0;
}

.facet li,
.show {
    cursor: pointer;
    font-size: 14px;
    color: #444;
}

.facet li:hover,
.show:hover {
    color: black;
}

.chip {
    margin-top: 8px;
    margin-left: 15px;
}

.count {
    font-weight: bold;
    margin-right: 10px;
    padding-left: 5px;
}
