:root {
    --facet-spacing: 8px;
    --facet-gap: 5px;
    --facet-title-font-size: 17px;
    --facet-list-margin: 5px;
    --facet-list-max-height: 300px;
    --facet-font-size: var(--font-size-small);
}

.facet + .facet {
    margin-top: var(--facet-spacing);
}

.facet > h4 {
    display: flex;
    align-items: center;
    gap: var(--facet-gap);
    margin: 0;
    font-size: var(--facet-title-font-size);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

.facet > h4 + button {
    --button-height: 32px;
    --button-border-radius: 4px;
    --button-icon-size: 26px;
    --button-padding: 6px;
    text-transform: none;
    width: 100%;
    font-style: italic;

    & > span:nth-child(2) {
        --button-icon-size: 34px;
        text-align: left;
    }
}

.facet > h4 + span {
    margin-left: calc(var(--icon-button-size) + var(--facet-gap));
}

.facet > ul {
    --checkbox-state-size: 28px;

    margin: 0;
    padding: var(--facet-list-margin) calc((var(--icon-button-size) - var(--checkbox-state-size)) / 2);
    list-style-type: none;
    max-height: var(--facet-list-max-height);
    overflow-y: auto;
}

.facet > ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--facet-gap);
}

.label {
    flex: 1;
    padding-left: var(--facet-gap);
}

.label--excluded {
    text-decoration: line-through;
}

.show {
    text-align: right;
    padding: var(--facet-list-margin) calc((var(--icon-button-size) - var(--icon-button-icon-size)) / 2);
}

.facet > ul li,
.show {
    cursor: pointer;
    font-size: var(--facet-font-size);
    color: rgb(var(--palette-grey-900));
}

.facet li:hover,
.show:hover {
    color: rgb(var(--color-black));
}

.count {
    font-weight: var(--font-weight-bold);
}

.count:last-child {
    padding-right: calc((var(--checkbox-state-size) - var(--icon-button-icon-size)) / 2);
}

.checkbox:not(.checkbox--selected) {
    --input-on-main-color: rgb(var(--color-black));
}

.icon {
    --icon-button-size: 28px;
    --icon-button-icon-size: 24px;
}

.icon > span {
    transition: color var(--animation-duration) var(--animation-curve-default);
    font-variation-settings: "FILL" 0;
}
