.facet {
    margin-bottom: 5px;
}

.facet:last-child {
    margin-bottom: 0;
}

.facet h4 {
    margin: 0 5px -6px -9px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.facet h4 + button {
    --button-height: 32px;
    --button-border-radius: 3px;
    --button-icon-size: 26px;
    --button-padding: 6px;

    text-transform: none;
    margin: 3px 0 -6px -8px;
    width: calc(100% + 13px);
    font-style: italic;

    & > div:nth-child(2) {
        --button-icon-size: 34px;
        text-align: left;
    }
}

.facet h4 + span {
    margin-left: 27px;
}

.facet ul {
    margin: 0 -9px 0 -15px;
    padding: 9px 0 9px 12px;
    list-style-type: none;
    max-height: 300px;
    overflow-y: auto;

    & label {
        margin: 0;
    }
}

.facet li {
    margin: 0;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.6;

    & > button:last-child {
        margin-right: 3px;
        margin-left: -3px;
    }
}

.label {
    flex: 1;
    padding-left: 12px;
}

.label--excluded {
    text-decoration: line-through;
}

.show {
    text-align: right;
    margin: 5px 10px 0 0;
}

.facet li,
.show {
    cursor: pointer;
    font-size: 14px;
    color: rgb(var(--palette-grey-900));
}

.facet li:hover,
.show:hover {
    color: rgb(var(--color-black));
}

.count {
    font-weight: bold;
    padding-left: 5px;
    margin-right: 9px;
}

.checkbox {
    --checkbox-state-size: 24px;
}

.checkbox:not(.checkbox--selected) {
    --input-on-main-color: rgb(var(--color-black));
}

.icon {
    --icon-button-size: 24px;
    --icon-button-icon-size: 24px;
}

.icon > span {
    transition: color var(--animation-duration) var(--animation-curve-default);
}
