:root {
    --facet-box-title-font-size: 22px;
    --facet-box-section-margin: 40px;
    --facet-box-section-title-font-size: 20px;
    --facet-box-section-title-margin-bottom: 15px;
}

.facetBox {
    --icon-button-icon-size: 20px;
    --icon-button-size: 32px;
}

.facetBox > h3 {
    font-size: var(--facet-box-title-font-size);
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;

    & > span {
        flex: 1;
    }
}

.section h5 {
    margin: 0 calc((var(--icon-button-size) - var(--icon-button-icon-size)) / 2)
        var(--facet-box-section-title-margin-bottom);
    font-size: var(--facet-box-section-title-font-size);
    text-transform: uppercase;
}

h3 + .section {
    margin-top: calc(var(--facet-box-section-margin) / 2);
}

.section + .section {
    margin-top: var(--facet-box-section-margin);
}
