.facetBox {
    padding: 10px;
}

.facetBox > h3 {
    font-size: 22px;
    margin: 0 0 12px -9px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: calc(100% + 15px);

    & > span {
        flex: 1;
    }
}

.section {
    margin-top: 40px;

    & h5 {
        margin-bottom: 15px;
        margin-top: 0;
        text-transform: uppercase;
    }
}

h3 + .section {
    margin-top: 25px;
}
