.bar {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    z-index: var(--z-index-normal);
    position: relative;
    height: 41px;
    border-radius: 2px;
    box-shadow: var(--shadow-2p);
    margin: 10px 0;
    transition: box-shadow var(--animation-duration) var(--animation-curve-fast-out-slow-in);
}

.bar:hover {
    box-shadow: var(--shadow-4p);
}

.bar > div {
    padding: 8px 0;
}

.bar > button:last-child {
    margin-right: 5px;
}

.bar--error {
    border: 1px solid var(--palette-red-500);
    margin: 9px -1px;
}

.input {
    height: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.searchIcon {
    margin: 0 10px;
    color: color(var(--color-black) a(40%));
}

.input input {
    text-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    left: 0;
    outline: none;
    font-size: 16px;
}

.errors {
    color: var(--palette-red-500);
    position: absolute;
    font-size: 12px;
    display: block;
    z-index: var(--z-index-normal);
    bottom: -20px;
    left: 43px;
}

.dropdown input {
    border-right: 1px solid rgba(0, 0, 0, 0.16);
    padding: 10px;
}

.scopes li {
    min-height: 44px;
}

.criteria {
    position: absolute;
    top: 43px;
    z-index: var(--z-index-normal);
    background: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    border: 1px solid var(--palette-grey-400);
    border-top-color: var(--palette-grey-300);
    box-sizing: border-box;
    padding: 25px;
}

.criteriaWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: calc(var(--z-index-normal) - 1);
    background: color(var(--color-black) a(15%));
}

.criteria > button:first-child {
    position: absolute;
    right: 4px;
    top: 5px;
}

.error + .criteria {
    top: 44px;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    margin: 15px -15px -15px 15px;
    align-items: center;
}

.buttons button:last-child {
    font-weight: bold;
    margin-right: 5px;
}
