.bar {
    display: flex;
    align-items: center;
    background-color: rgb(var(--color-white));
    z-index: var(--z-index-normal);
    position: relative;
    height: 41px;
    border-radius: 2px;
    box-shadow: var(--shadow-2p);
    margin: 10px 0;
    transition: box-shadow var(--animation-duration) var(--animation-curve-fast-out-slow-in);
}

.bar:hover {
    box-shadow: var(--shadow-4p);
}

.bar > div {
    padding: 8px 0;
}

.bar > button:last-child {
    margin-right: 2px;
}

.bar--error {
    border: 1px solid rgb(var(--palette-red-500));
    margin: 9px -1px;
}

.input {
    height: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.searchIcon {
    margin: 0 10px;
    color: rgba(var(--color-black), 0.4);
}

.input input {
    text-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    left: 0;
    outline: none;
    font-size: var(--input-field-font-size);
    text-overflow: ellipsis;
    background: rgb(var(--color-white));
    color: rgb(var(--color-black));
}

.errors {
    color: rgb(var(--palette-red-500));
    position: absolute;
    font-size: 12px;
    display: block;
    z-index: var(--z-index-normal);
    bottom: -20px;
    left: 43px;
}

.panel {
    position: absolute;
    top: 43px;
    background: rgb(var(--color-white));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    max-height: calc(100vh - 60px);
    overflow: auto;
}

.error + .panel {
    top: 44px;
}

.searchFields {
    --checkbox-state-size: 28px;

    & > h6 {
        color: rgb(var(--color-primary));
        margin: 0 0 6px 0;
        font-weight: 500;
    }

    & > label:first-of-type {
        font-weight: bold;
        margin-left: -4px;
        margin-bottom: 10px;
    }
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    margin: 15px -15px -15px 15px;
    align-items: center;
}
