.summary {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--button-spacing);
    min-height: var(--chip-height);
    margin-bottom: 10px;
    font-size: 20px;
}

.chip {
    --button-primary-main-color: rgba(var(--color-primary), 0.5);
    --button-primary-secondary-color: rgba(var(--color-black));
    outline-color: transparent;
}

.chip + .chip {
    margin-inline: 0;
}

.print {
    float: right;
}
