@import "../../../../style/menu.css";

.animate {
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

@keyframes aOpen {
    0% {
        opacity: 0;
        transform: translate3d(-500px, 0, 0);
    }

    5% { opacity: 1; }
    to { transform: none; }
}

@keyframes aClose {
    0% { transform: none; }
    95% { opacity: 0; }

    to {
        opacity: 0;
        transform: translate3d(-500px, 0, 0);
    }
}

.open {
    animation-name: aOpen;
}

.close {
    animation-name: aClose;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: var(--menu-z-index);
}

.list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
    background: var(--menu-background);
    height: 100%;
    z-index: calc(var(--menu-z-index) + 1);
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item > button {
    height: var(--menu-item-height);
    color: var(--menu-item-color);
    min-width: var(--menu-item-height);
}

.item > button > i {
    width: 24px;
}

.panel {
    position: absolute;
    z-index: calc(var(--menu-z-index) - 1);
    transition: top 0.1s ease-out;
}

.panelWrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
}

.active {
    background: var(--menu-item-active-background);
}

.active > button {
    color: var(--menu-item-active-color);
}
