@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";

:root {
    --action-bar-background: var(--color-white);
    --action-bar-facetbox-background: var(--palette-grey-200);
    --action-bar-facetbox-triangle-height: 15px;
    --action-bar-facetbox-triangle-width: 30px;
    --action-bar-font-weight: bold;
    --action-bar-height: 56px;
    --action-bar-margin: 0 0 10px 0;
    --action-bar-padding: 10px;
    --action-bar-search-icon-content: "\E8B6";
    --action-bar-search-icon-font: "Material Icons";
    --action-bar-search-icon-left: 0;
    --action-bar-search-icon-top: 3px;
    --action-bar-search-icon-size: 24px;
    --action-bar-selection-background: var(--color-primary);
    --action-bar-selection-color: var(--palette-grey-200);
    --action-bar-shadow: var(--shadow-2p);
    --action-bar-transition: 0.1s ease-out;
}
