@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";

:root {
    --header-actions-margin-right: 200px;
    --header-actions-margin-right-mobile: 80px;
    --header-color: var(--color-black);
    --header-content-background: var(--color-white);
    --header-content-padding: 20px 10px;
    --header-margin-bottom: 50px;
    --header-toprow-background: var(--color-white);
    --header-toprow-height: 60px;
    --header-toprow-padding: 10px;
    --header-shadow: var(--shadow-1p);
    --header-z-index: 1001;
}
