@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";

:root {
    --content-padding-side: 20px;
    --content-padding-top: 20px;
    --layout-background: var(--palette-grey-50);
    --layout-footer-margin: 30px 0 0 0;
    --layout-footer-padding: 10px;
}
