@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";

:root {
    --layout-background: var(--palette-grey-50);
    --layout-content-margin: 0 10px 0 0;
    --layout-content-padding: 10px 20px 20px;
    --layout-footer-margin: 30px 0 0 0;
    --layout-footer-padding: 10px;
}
