@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";

:root {
    --message-center-color: var(--color-white);
    --message-center-error-color: var(--palette-red-500);
    --message-center-success-color: var(--palette-green-500);
    --message-center-warning-color: var(--palette-amber-500);
    --message-center-z-index: 1002;
}
