@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";

:root {
    --scrollspy-active-border-color: var(--color-primary);
    --scrollspy-active-color: var(--color-accent);
    --scrollspy-padding-top: 20px;
    --scrollspy-padding-left: 40px;
    --scrollspy-padding-right: 20px;
}
