.container:not(:last-child) {
    margin-bottom: 30px;
}

.container h3 {
    font-size: 28px;
    margin: 0;
    line-height: 30px;
}
.container h3 span:nth-child(2) {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.container p {
    margin-bottom: 8px;
}