@import "../../../style/menu.css";

.animate {
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

@keyframes aOpen {
    0% {
        opacity: 0;
        transform: translate3d(-500px, 0, 0);
    }

    5% {
        opacity: 1;
    }

    to {
        transform: none;
    }
}

@keyframes aClose {
    0% {
        transform: none;
    }

    95% {
        opacity: 0;
    }

    to {
        opacity: 0;
        transform: translate3d(-500px, 0, 0);
    }
}

.open {
    animation-name: aOpen;
}

.close {
    animation-name: aClose;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: var(--z-index-high);
}

.list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
    background: var(--main-menu-background);
    height: 100%;
    z-index: calc(var(--z-index-high) + 1);
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.toggle,
.toggle > .rippleWrapper {
    border-radius: 0;
}

.button,
.button.neutral:not([disabled]),
.toggle,
.toggle.neutral:not([disabled]) {
    height: var(--main-menu-item-height);
    color: var(--main-menu-item-color);
    min-width: var(--main-menu-item-height);
}

.button {
    text-align: left;
}

.button > .icon,
.toggle > .icon {
    width: 24px;
    font-size: 24px;
}

.panel {
    position: absolute;
    z-index: calc(var(--z-index-high) - 1);
    transition: top 0.1s ease-out;
}

.panelWrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
}

.active {
    background: var(--main-menu-item-active-background);

    & .icon,
    & .button.neutral:not([disabled]),
    & .toggle {
        color: var(--main-menu-item-active-color);
    }
}
