.actions {
    display: flex;
}

.actions button {
    margin: 0 5px;
}

.actions :global(.mdl-button--fab) {
    background-color: white !important;
}

.actions button:hover {
    background-color: #f9f9f9 !important;
}

.content {
    background-color: white;
    padding: 20px 10px;
}

.topRow {
    z-index: 1001;
    background-color: white;
}

.topRow > div {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
}

.topRow > div .item {
    height: 40px;
    padding: 0 15px;
}

.topRow > div .item.left {
    order: 1;
    flex-grow: 0;
}

.topRow > div .item.middle {
    order: 2;
    flex-grow: 4;
}

.topRow > div .item.right {
    order: 3;
    flex-grow: 0;
    text-align: right;
}

.scrolling {
    position: relative;
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.deployed .topRow .item.middle {
    display: none;
}

.deployed .actions {
    position: absolute;
    right: 0;
    bottom: -28px;
}

.undeployed {
    z-index: inherit;
    overflow-y: hidden;
    box-shadow: none;
}

.undeployed .topRow {
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.undeployed .content {
    display: none;
}

.undeployed .actions {
    position: fixed;
    top: 30px;
    right: 0;
    z-index: 1001;
}

.scrolling .actions {
    margin-right: 20px;
}

@media (min-width: 840px) {
    .scrolling .actions {
        margin-right: 200px;
    }
}
