@import "../../../../style/header.css";

.actions button {
    margin: 0 5px;
}

.content {
    background-color: var(--header-content-background);
    padding: var(--header-content-padding);
}

.topRow {
    z-index: var(--z-index-high);
    background-color: var(--header-toprow-background);
}

.topRow > div {
    padding: var(--header-toprow-padding);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
}

.topRow > div .item {
    height: calc(var(--header-toprow-height) - 2 * var(--header-toprow-padding));
    padding: 0 15px;
}

.topRow > div .item.left {
    order: 1;
    flex-grow: 0;
}

.topRow > div .item.middle {
    order: 2;
    flex-grow: 4;
}

.topRow > div .item.right {
    order: 3;
    flex-grow: 0;
    text-align: right;
}

.scrolling {
    position: relative;
    color: var(--header-color);
    box-shadow: var(--header-shadow);
    margin-bottom: var(--header-margin-bottom);
}

.deployed .topRow .item.middle {
    display: none;
}

.deployed .actions {
    position: absolute;
    right: 0;
    bottom: -28px;
}

.undeployed {
    z-index: inherit;
    overflow-y: hidden;
    box-shadow: none;
}

.undeployed .topRow {
    box-shadow: var(--header-shadow);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.undeployed .content {
    display: none;
}

.undeployed .actions {
    position: fixed;
    top: 30px;
    right: 0;
    z-index: var(--z-index-high);
}

.scrolling .actions {
    margin-right: var(--header-actions-margin-right-mobile);
}

@media (min-width: 840px) {
    .scrolling .actions {
        margin-right: var(--header-actions-margin-right);
    }
}
