@import "../../../../style/header.css";

.actions button {
    margin: 0 5px;
}

.content {
    background-color: var(--header-content-background);
    padding: var(--header-content-padding);
}

.topRow {
    z-index: var(--z-index-high);
    background-color: var(--header-toprow-background);

    & > div {
        padding: var(--header-toprow-padding);
        display: table;
    }
}

.item {
    height: calc(var(--header-toprow-height) - 2 * var(--header-toprow-padding));
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
}

.left {
    text-align: left;
}

.middle {
    width: 100%;
}

.right {
    text-align: right;
}

.scrolling {
    position: relative;
    color: var(--header-color);
    box-shadow: var(--header-shadow);
    margin-bottom: var(--header-margin-bottom);
}

.deployed .middle {
    opacity: 0;
}

.deployed .actions {
    position: absolute;
    right: 0;
    bottom: -28px;
}

.undeployed {
    z-index: inherit;
    overflow-y: hidden;
    box-shadow: none;
}

.undeployed .topRow {
    box-shadow: var(--header-shadow);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.undeployed .content {
    display: none;
}

.undeployed .actions {
    position: fixed;
    top: 30px;
    right: 0;
    z-index: var(--z-index-high);
}

.scrolling .actions {
    margin-right: var(--header-actions-margin-right-mobile);
}

@media (min-width: 840px) {
    .scrolling .actions {
        margin-right: var(--header-actions-margin-right);
    }
}
