:root {
    --dialog-min-width: 50%;
    --dialog-max-width: 96%;
    --dialog-border-radius: 28px;
    --dialog-box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);

    --dialog-title-color: rgb(var(--color-black));
    --dialog-body-color: rgb(var(--palette-grey-700));
    --dialog-background-color: rgb(var(--color-white));

    --dialog-padding: 24px;
    --dialog-title-padding: 16px;

    --dialog-translate-y: 40px;
}

:root[dark] {
    --dialog-background-color: rgb(var(--palette-grey-50));
}

.wrapper {
    z-index: var(--z-index-higher);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.dialog {
    background-color: var(--dialog-background-color);
    border-radius: var(--dialog-border-radius);
    box-shadow: var(--dialog-box-shadow);
    display: flex;
    flex-direction: column;
    padding: var(--dialog-padding);
    min-width: var(--dialog-min-width);
    max-width: var(--dialog-max-width);
    pointer-events: auto;
}

.dialog:focus-visible {
    outline: none;
}

.enter .dialog,
.exit.exitActive .dialog {
    opacity: 0;
    transform: translateY(calc(-1 * var(--dialog-translate-y)));
}

.enter.enterActive .dialog,
.exit .dialog {
    opacity: 1;
    transform: translateY(0%);
}

.enterActive .dialog,
.exitActive .dialog {
    transition:
        opacity var(--animation-duration) var(--animation-curve-default) var(--animation-delay),
        transform var(--animation-duration) var(--animation-curve-default) var(--animation-delay);
}

.title {
    color: var(--dialog-title-color);
    margin: 0;
    padding-bottom: var(--dialog-title-padding);
}

.body {
    flex: 1;
    color: var(--dialog-body-color);
}

.navigation {
    padding-top: var(--dialog-padding);
    text-align: right;
}
