.layout {
    background-color: var(--layout-background);
    display: flex;
}

.scrollable {
    height: 100vh;
    flex: 1;
    min-width: 0;
    overflow-x: hidden;
}

.content {
    padding: var(--content-padding-top) var(--content-padding-side) 0;
    box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: var(--layout-footer-margin);
    padding: var(--layout-footer-padding);
}
