:root {
    --overlay-color: rgb(0, 0, 0);
    --overlay-opacity: 0.6;
}

.overlay {
    z-index: var(--z-index-higher);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlay-color);
    opacity: var(--overlay-opacity);
}

.enter,
.exit.exitActive {
    opacity: 0;
}

.enter.enterActive,
.exit {
    opacity: var(--overlay-opacity);
}

.enterActive,
.exitActive {
    transition: opacity var(--animation-duration) var(--animation-curve-default);
    transition-delay: var(--animation-delay);
}
