.popin {
    z-index: var(--z-index-higher);
    position: absolute;
    top: 0;
    min-width: 50vw;
    height: 100%;
    overflow-x: hidden;
    background: var(--popin-background);
    box-shadow: var(--shadow-4p);
    box-sizing: border-box;
}

.popin--left {
    left: 0;
}

.popin--right {
    right: 0;
}

.enter,
.exit.exitActive {
    &.popin--right {
        transform: translateX(100%);
    }

    &.popin--left {
        transform: translateX(-100%);
    }
}

.enter.enterActive,
.exit {
    &.popin--left,
    &.popin--right {
        transform: translateX(0%);
    }
}

.enterActive,
.exitActive {
    transition: transform var(--animation-duration) var(--animation-curve-default);
    transition-delay: var(--animation-delay);
}
