:root {
    --scrollspy-active-border-color: rgb(var(--color-primary));
    --scrollspy-active-color: rgb(var(--color-accent));
    --scrollspy-padding-left: 25px;
    --scrollspy-menu-size: 220px;
}

.scrollspy {
    padding-top: var(--content-padding-top);
}

.content {
    padding: 0 var(--content-padding-side);
}

.menu {
    padding: var(--content-padding-top) 0 0 var(--scrollspy-padding-left);
    width: var(--scrollspy-menu-size);
}

.menu ul {
    list-style-type: none;
    padding: 0;

    & li {
        padding: 2.5px 0 2.5px 10px;
        margin: 5px 0;
        cursor: pointer;
        font-size: 15px;
    }

    & li:hover {
        color: var(--scrollspy-active-color);
    }

    & .active {
        margin-left: -4px;
        font-weight: bold;
        border-left: 3px solid var(--scrollspy-active-border-color);
        color: var(--scrollspy-active-color);
    }
}
