.container {
    position: relative;
}

.container:focus-visible {
    outline: none;
}

.scrollable {
    overflow: auto;
    height: 100%;
}

.backToTop {
    position: absolute;
    bottom: 8%;
    right: 5%;
    z-index: var(--z-index-high);
}
