.scrollspy {
    position: relative;
    padding-right: var(--content-padding-side);
}

.menu {
    position: absolute;
    padding-left: var(--scrollspy-padding-left);
}

.menu ul {
    list-style-type: none;
    padding: 0;

    & li {
        padding: 2.5px 10px;
        margin: 5px 0;
        cursor: pointer;
        font-size: 15px;
    }

    & li:hover {
        color: var(--scrollspy-active-color);
    }

    & .active {
        margin-left: -4px;
        font-weight: bold;
        border-left: 3px solid var(--scrollspy-active-border-color);
        color: var(--scrollspy-active-color);
    }
}

.menu,
.content {
    padding-top: var(--content-padding-top);
}
