.field {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.label,
.value {
    flex-shrink: 0;
    box-sizing: border-box;
}

.label {
    padding-right: 8px;
}

.value {
    padding-left: 8px;
}

.field--edit.field--required .label label::after {
    content: "*";
    margin-left: 3px;
}

.field--error .label label {
    color: var(--input-error-color);
}
