.field {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.label,
.value {
    flex-shrink: 0;
    padding: 8px;
    box-sizing: border-box;
}

.field--edit.field--required .label label::after {
    content: "*";
    margin-left: 3px;
}

.field--edit [data-react-toolbox="input"],
.field--edit [data-focus="select"] {
    margin-top: -27px;
    margin-bottom: -15px;
}

.field--edit .value > label[class^="checkbox_checkbox"] {
    margin: -10px 0 0 -10px;
}

.field--edit.field--error [data-react-toolbox="input"] {
    margin-top: -28px;
}

.field--error .label label {
    color: var(--input-text-error-color);
}

.error {
    white-space: nowrap;
}
