:root {
    --preferred-font: Manrope;
    --button-line-height-delta: -1px;
}

.container {
    display: flex;
    gap: var(--button-spacing);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.stack {
    display: flex;
    flex-direction: column;
    gap: var(--button-spacing);
}

.sbdocs,
.docs-story {
    overflow: visible !important;
    z-index: 1;
}

.docs-story > div {
    overflow: visible;
}

a code {
    color: steelblue !important;
    text-decoration: underline;
}

p {
    white-space: pre-wrap;
}

.doc-scrollable {
    max-height: 400px;
}
