:root {
    --autocomplete-overflow-max-height: 45vh;
    --autocomplete-suggestion-active-background: rgb(var(--palette-grey-200));
    --autocomplete-suggestions-background: rgb(var(--color-white));
}

:root[dark] {
    --autocomplete-suggestions-background: rgb(var(--palette-grey-100));
}

.autocomplete {
    position: relative;
    box-sizing: border-box;
    font-family: var(--preferred-font);

    & *,
    & *::after,
    & *::before {
        box-sizing: border-box;
    }
}

.suggestions {
    background-color: var(--autocomplete-suggestions-background);
    list-style: none;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    position: absolute;
    transition-duration: var(--animation-duration);
    transition-property: max-height, box-shadow;
    transition-timing-function: var(--animation-curve-default);
    visibility: hidden;
    width: 100%;
    z-index: var(--z-index-highest);
}

.suggestions--down {
    top: var(--text-field-height);
}

.suggestions--up {
    bottom: 100%;
}

.autocomplete--focus .suggestions {
    box-shadow: var(--zdepth-shadow-1);
    max-height: var(--autocomplete-overflow-max-height);
    visibility: visible;
}

.suggestion {
    position: relative;
    min-height: var(--text-field-height);
    padding: var(--text-field-padding-vertical) var(--text-field-padding-horizontal);
    font-size: var(--text-field-font-size);
    cursor: pointer;
}

.suggestion--final {
    cursor: inherit;
}

.suggestion--active {
    background-color: var(--autocomplete-suggestion-active-background);
}

.progressBar {
    position: absolute;
    top: var(--text-field-height);
    height: 2px;
    width: 100%;
}
