.autocomplete {
    position: relative;
    min-width: var(--text-field-min-width);
    max-width: var(--text-field-max-width);
}

.suggestion {
    user-select: none;
    display: inline-block;
    width: 100%;
    position: relative;
    min-height: calc(var(--text-field-height) - 2 * var(--text-field-outline-size));
    padding: var(--text-field-padding-vertical) var(--text-field-padding-horizontal);
    font-size: var(--text-field-font-size);
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
}

.suggestion--active {
    background: var(--input-on-light-color);
}
