:root {
    --autocomplete-border-size: calc(var(--input-field-height) / 7);
    --autocomplete-color-primary-contrast: rgb(var(--color-primary-contrast));
    --autocomplete-color-primary: rgb(var(--color-primary));
    --autocomplete-overflow-max-height: 45vh;
    --autocomplete-suggestion-active-background: rgb(var(--palette-grey-200));
    --autocomplete-suggestion-padding: calc(0.8 * var(--unit));
    --autocomplete-suggestions-background: rgb(var(--color-white));
    --autocomplete-value-margin: calc(var(--unit) * 0.25) calc(var(--unit) * 0.5) calc(var(--unit) * 0.25) 0;
}

:root[dark] {
    --autocomplete-suggestions-background: rgb(var(--palette-grey-100));
}

.autocomplete {
    position: relative;
    box-sizing: border-box;
    font-family: var(--preferred-font);

    & *,
    & *::after,
    & *::before {
        box-sizing: border-box;
    }
}

.values {
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 0 calc(var(--unit) / 2) 0;
}

.value {
    margin: var(--autocomplete-value-margin);
}

.suggestions {
    background-color: var(--autocomplete-suggestions-background);
    list-style: none;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    position: absolute;
    transition-duration: var(--animation-duration);
    transition-property: max-height, box-shadow;
    transition-timing-function: var(--animation-curve-default);
    visibility: hidden;
    width: 100%;
    z-index: var(--z-index-highest);

    &::-webkit-scrollbar {
        height: 0;
        width: 0;
    }
}

.suggestions--down {
    top: calc(100% - var(--input-padding));
}

.suggestions--up {
    bottom: calc(100% - var(--input-padding));
}

.autocomplete--focus .suggestions {
    box-shadow: var(--zdepth-shadow-1);
    max-height: var(--autocomplete-overflow-max-height);
    visibility: visible;
}

.suggestion {
    cursor: pointer;
    font-size: var(--input-field-font-size);
    padding: var(--autocomplete-suggestion-padding);
    overflow: hidden;
    position: relative;
}

.suggestion--final {
    cursor: inherit;
}

.suggestion--active {
    background-color: var(--autocomplete-suggestion-active-background);
}

.progressBar {
    position: absolute;
    bottom: var(--input-padding);
    height: 2px;
    width: 100%;
}
