:root {
    --button-height: 40px;
    --button-icon-size: 18px;
    --button-spinner-size: 20px;
    --button-border-radius: 20px;
    --button-padding: 24px;
    --button-outline-size: 1px;
}

.button {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    font-family: var(--preferred-font);
    border: none;
    outline: none;
    text-decoration: none;
    padding: 0 var(--button-padding);
    box-sizing: border-box;
    height: var(--button-height);
    background-color: transparent;
    color: var(--button-secondary-color);
    --progress-indicator-color: var(--button-secondary-color);
    border-radius: var(--button-border-radius);
    transition: color var(--animation-duration-short) var(--animation-curve-default),
        background-color var(--animation-duration-short) var(--animation-curve-default);
}

.button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    pointer-events: none;
    opacity: 0;
    background-color: var(--button-secondary-color);
    transition: opacity var(--animation-duration-short) var(--animation-curve-default);
}

.button:hover::before {
    opacity: var(--button-hover-opacity);
}

.button--outlined {
    outline: var(--button-outline-size) solid var(--button-secondary-color);
    outline-offset: calc(-1 * var(--button-outline-size));
}

.button--elevated {
    box-shadow: var(--shadow-2p);
}

.button--primary {
    color: var(--button-primary-main-color);
    --progress-indicator-color: var(--button-primary-main-color);
}

.button--primary::before {
    background-color: var(--button-primary-main-color);
}

.button--primary:hover::before {
    opacity: var(--button-primary-hover-opacity);
}

.button--light {
    color: var(--button-primary-light-color);
    --progress-indicator-color: var(--button-primary-light-color);
}

.button--light::before {
    background-color: var(--button-primary-light-color);
}

.button--accent {
    color: var(--button-accent-main-color);
    --progress-indicator-color: var(--button-accent-main-color);
}

.button--accent::before {
    background-color: var(--button-accent-main-color);
}

.button--accent:hover::before {
    opacity: var(--button-accent-hover-opacity);
}

.button--filled {
    &.button--primary {
        background-color: var(--button-primary-main-color);
        color: var(--button-primary-secondary-color);

        &:not(.button--disabled) {
            --progress-indicator-color: var(--button-primary-secondary-color);
            --progress-indicator-track-color: var(--button-disabled-text-color);
        }

        &::before {
            background-color: var(--button-primary-secondary-color);
        }
    }

    &.button--light {
        background-color: var(--button-primary-light-color);
        color: var(--button-secondary-color);

        &:not(.button--disabled) {
            --progress-indicator-color: var(--button-secondary-color);
        }

        &::before {
            background-color: var(--button-secondary-color);
        }
    }

    &.button--accent {
        background-color: var(--button-accent-main-color);
        color: var(--button-accent-secondary-color);

        &:not(.button--disabled) {
            --progress-indicator-color: var(--button-accent-secondary-color);
            --progress-indicator-track-color: var(--button-disabled-text-color);
        }

        &::before {
            background-color: var(--button-accent-secondary-color);
        }
    }
}

.button--outlined {
    &.button--primary {
        outline-color: var(--button-primary-main-color);
    }

    &.button--light {
        outline-color: var(--button-primary-light-color);
    }

    &.button--accent {
        outline-color: var(--button-accent-main-color);
    }
}

.icon {
    position: absolute;
    top: 0;
    bottom: 0;
    height: var(--button-height);
    font-size: var(--button-icon-size);
    line-height: var(--button-height);
}

.spinner {
    --progress-indicator-circular-size: var(--button-spinner-size);
    position: absolute;
    top: calc((var(--button-height) - var(--button-spinner-size)) / 2);
    bottom: calc((var(--button-height) - var(--button-spinner-size)) / 2);
}

.label {
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--button-text-size);
    height: var(--button-height);
    line-height: calc(var(--button-height) + var(--button-line-height-delta));
    text-align: center;
    white-space: nowrap;
    min-width: var(--button-icon-size);
    width: 100%;
}

.button--left.button--label {
    & .icon {
        left: calc(2 * var(--button-padding) / 3);
    }

    & .spinner {
        left: calc(2 * var(--button-padding) / 3 + var(--button-icon-size) - var(--button-spinner-size));
    }

    & .label {
        margin-left: var(--button-icon-size);
    }
}

.button--right.button--label {
    & .icon {
        right: calc(2 * var(--button-padding) / 3);
    }

    & .spinner {
        right: calc(2 * var(--button-padding) / 3 + var(--button-icon-size) - var(--button-spinner-size));
    }

    & .label {
        margin-right: var(--button-icon-size);
    }
}

.button--elevated + .button,
.button + .button--elevated,
.button--filled + .button--filled,
.button--filled + .button--outlined,
.button--outlined + .button--filled,
.button--outlined + .button--outlined {
    margin-inline-start: var(--button-spacing);
}

.button.button--disabled {
    cursor: default;
    color: var(--button-disabled-text-color);
    outline-color: var(--button-disabled-text-color);

    &.button--filled {
        background-color: var(--button-disabled-background-color);
    }
}

.button.button--disabled:hover::before {
    opacity: 0;
}

.button:focus-visible {
    animation-name: focus;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-curve-focus-ring);
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
}

.button--filled,
.button--elevated {
    outline-offset: var(--button-focus-ring-offset);
}

.button--outlined:focus-visible {
    animation-name: focusOutline;
    outline-width: calc(var(--button-outline-size) + var(--focus-ring-width));
}

@keyframes focus {
    0% {
        outline-width: 0px;
    }
    50% {
        outline-width: calc(2 * var(--focus-ring-width));
    }
    100% {
        outline-width: var(--focus-ring-width);
    }
}

@keyframes focusOutline {
    0% {
        outline-width: var(--button-outline-size);
    }
    50% {
        outline-width: calc(var(--button-outline-size) + 2 * var(--focus-ring-width));
    }
    100% {
        outline-width: calc(var(--button-outline-size) + var(--focus-ring-width));
    }
}
