:root {
    --calendar-primary: rgb(var(--color-primary));
    --calendar-primary-contrast: rgb(var(--color-primary-contrast));
    --calendar-primary-color: rgb(var(--color-primary));
    --calendar-primary-contrast-color: rgb(var(--color-primary-contrast));
    --calendar-primary-hover-color: rgba(var(--color-primary), 0.21);
    --calendar-arrows-color: rgb(var(--palette-grey-600));
    --calendar-arrows-font-size: calc(2 * var(--unit));
    --calendar-year-font-size: 2.4;
    --calendar-day-font-size: calc(1.3 * var(--unit));
    --calendar-day-disable-opacity: 0.25;
    --calendar-row-height: calc(3.6 * var(--unit));
    --calendar-day-padding-topbottom: calc(0.2 * var(--unit));
    --calendar-day-padding-leftright: 0;
    --calendar-title-height: calc(4 * var(--unit));
    --calendar-total-height: calc(
        var(--calendar-row-height) * 7 + var(--calendar-title-height) + var(--calendar-day-padding-topbottom) * 12
    );
}

:root[dark] {
    --calendar-primary-contrast-color: rgb(var(--palette-grey-100));
}

.calendar {
    background: var(--calendar-primary-contrast-color);
    font-size: var(--font-size-small);
    height: var(--calendar-total-height);
    line-height: var(--calendar-row-height);
    overflow: hidden;
    position: relative;
    text-align: center;

    & .prev,
    & .next {
        cursor: pointer;
        height: calc(4 * var(--unit));
        opacity: 0.7;
        position: absolute;
        top: 0;
        z-index: var(--z-index-high);

        & > span,
        & > span {
            vertical-align: top;
        }
    }

    & .prev {
        left: 0;
    }

    & .next {
        right: 0;
    }
}

.title {
    display: inline-block;
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--calendar-title-height);
}

.years {
    font-size: var(--font-size-big);
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;

    & > li {
        cursor: pointer;
        line-height: 2.4;

        &.active {
            color: var(--calendar-primary-color);
            font-size: var(--calendar-year-font-size);
            font-weight: var(--font-weight-semi-bold);
        }
    }
}

.week {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--calendar-day-font-size);
    height: var(--calendar-row-height);
    line-height: var(--calendar-row-height);
    opacity: 0.5;

    & > span {
        flex: 0 0 calc(100% / 7);
    }
}

.days {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--calendar-day-font-size);
}

.day {
    flex: 0 0 calc(100% / 7);
    padding: var(--calendar-day-padding-topbottom) var(--calendar-day-padding-leftright);

    & > span {
        border-radius: 50%;
        display: inline-block;
        height: var(--calendar-row-height);
        line-height: var(--calendar-row-height);
        width: var(--calendar-row-height);
    }
}

.day:hover:not(.day--active):not(.day--disabled) > span {
    background: var(--calendar-primary-hover-color);
    color: var(--calendar-primary-contrast-color);
}

.day--active > span {
    background: var(--calendar-primary-color);
    color: var(--calendar-primary-contrast-color);
}

.day:hover:not(.day--disabled) > span {
    cursor: pointer;
}

.day--disabled {
    opacity: var(--calendar-day-disable-opacity);
}

.month {
    background-color: var(--calendar-primary-contrast-color);
    width: 100%;
}

.slideRightEnter,
.slideRightLeave {
    position: absolute;
}

.slideRightEnterActive,
.slideRightLeaveActive {
    transition-duration: 350ms;
    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
}

.slideRightEnter {
    opacity: 0;
    transform: translateX(100%);
}

.slideRightEnter.slideRightEnterActive {
    opacity: 1;
    transform: translateX(0);
}

.slideRightLeave {
    opacity: 1;
    transform: translateX(0);
}

.slideRightLeave.slideRightLeaveActive {
    opacity: 0;
    transform: translateX(-100%);
}

.slideLeftEnter,
.slideLeftLeave {
    position: absolute;
    transition-duration: 0.35s;
    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
}

.slideLeftEnter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.slideLeftEnter.slideLeftEnterActive {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.slideLeftLeave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.slideLeftLeave.slideLeftLeaveActive {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
