:root {
    --checkbox-size: 20px;
    --checkbox-outline-size: 2px;
    --checkbox-state-ratio: 2;

    --checkbox-error-palette: var(--palette-red-600);
    --checkbox-state-palette: var(--palette-grey-600);
    --checkbox-hover-alpha: 0.12;

    --checkbox-check-color: rgb(var(--color-white));
    --checkbox-checked-color: rgb(var(--color-primary));
    --checkbox-error-color: rgb(var(--checkbox-error-palette));
    --checkbox-disabled-color: rgb(var(--palette-grey-400));
    --checkbox-outline-color: rgb(var(--palette-grey-800));
    --checkbox-state-color: rgb(var(--checkbox-state-palette));

    --checkbox-error-hover-color: rgba(var(--checkbox-error-palette), var(--checkbox-hover-alpha));
    --checkbox-state-hover-color: rgba(var(--checkbox-state-palette), var(--checkbox-hover-alpha));
}

.checkbox {
    user-select: none;
    border-radius: 50%;
    position: relative;
    height: calc(var(--checkbox-size) * var(--checkbox-state-ratio));
    width: calc(var(--checkbox-size) * var(--checkbox-state-ratio));
    overflow: hidden;
}

.checkbox--loading * {
    transition: none 0s ease 0s !important;
}

.input {
    opacity: 0;
    width: calc(var(--checkbox-size) * var(--checkbox-state-ratio));
    height: calc(var(--checkbox-size) * var(--checkbox-state-ratio));
    position: absolute;
    margin: 0;
    z-index: 1;
    cursor: pointer;
}

.state {
    width: calc(var(--checkbox-size) * var(--checkbox-state-ratio));
    height: calc(var(--checkbox-size) * var(--checkbox-state-ratio));
    border-radius: 50%;
    transition: background-color var(--animation-duration) var(--animation-curve-default) 0s;
}

.outline {
    position: absolute;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    top: calc((var(--checkbox-state-ratio) - 1) * var(--checkbox-size) / 2);
    left: calc((var(--checkbox-state-ratio) - 1) * var(--checkbox-size) / 2);
    border: var(--checkbox-outline-size) solid var(--checkbox-outline-color);
    box-sizing: border-box;
    border-radius: var(--checkbox-outline-size);
    transition: background-color var(--animation-duration) var(--animation-curve-default) 0s,
        border-color var(--animation-duration) var(--animation-curve-default) 0s;
}

span.check {
    font-size: calc(var(--checkbox-size) - var(--checkbox-outline-size));
    margin: calc(-1 * var(--checkbox-outline-size) / var(--checkbox-state-ratio));
    clip-path: inset(0 50% 0 50%);
}

.checkbox--checked {
    & .outline {
        border-color: var(--checkbox-checked-color);
        background-color: var(--checkbox-checked-color);
    }

    & span.check {
        color: var(--checkbox-check-color);
        clip-path: inset(0 0 0 0);
        transition: clip-path var(--animation-duration) var(--animation-curve-default) 0s;
    }
}

.checkbox--disabled {
    & .input {
        cursor: auto;
    }

    & .outline {
        border-color: var(--checkbox-disabled-color);
    }

    & .check {
        color: var(--checkbox-check-color);
    }
}

.checkbox--checked.checkbox--disabled .outline {
    background-color: var(--checkbox-disabled-color);
}

.checkbox:hover:not(.checkbox--disabled) .state {
    color: var(--checkbox-state-color);
    background-color: var(--checkbox-state-hover-color);
}

.checkbox--error:not(.checkbox--disabled):hover .state {
    color: var(--checkbox-error-color);
    background-color: var(--checkbox-error-hover-color);
}

.checkbox--error:not(.checkbox--disabled) {
    & .outline {
        border-color: var(--checkbox-error-color);
    }

    &.checkbox--checked .outline {
        background-color: var(--checkbox-error-color);
    }
}
