.dropdown {
    position: relative;
    min-width: var(--text-field-min-width);
    max-width: var(--text-field-max-width);
}

.dropdown:not(.dropdown--disabled) {
    & .field {
        cursor: pointer;
        user-select: none;
    }
    & .inputContainer {
        cursor: pointer;
        user-select: none;
    }
}

.value {
    display: inline-block;
    width: 100%;
    position: relative;
    min-height: calc(var(--text-field-height) - 2 * var(--text-field-outline-size));
    padding: var(--text-field-padding-vertical) var(--text-field-padding-horizontal);
    font-size: var(--text-field-font-size);
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
}

.value::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    pointer-events: none;
    opacity: 0;
    background-color: var(--input-text-color);
    transition: opacity var(--animation-duration-short) var(--animation-curve-default) 0s;
}

.value:hover::before {
    opacity: var(--button-hover-opacity);
}

.value--selected {
    background: var(--input-on-light-color);
}
