:root {
    --icon-button-size: 40px;
    --icon-button-icon-size: 24px;
    --icon-button-outline-size: 1px;
}

.button {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    font-family: var(--preferred-font);
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0;
    width: var(--icon-button-size);
    height: var(--icon-button-size);
    background-color: transparent;
    color: var(--button-secondary-color);
    transition: color var(--animation-duration-short) var(--animation-curve-default),
        background-color var(--animation-duration-short) var(--animation-curve-default);
}

.button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    pointer-events: none;
    opacity: 0;
    background-color: var(--button-secondary-color);
    transition: opacity var(--animation-duration-short) var(--animation-curve-default);
}

.button:hover::before {
    opacity: var(--button-hover-opacity);
}

.button--outlined {
    outline: var(--icon-button-outline-size) solid var(--button-secondary-color);
    outline-offset: calc(-1 * var(--icon-button-outline-size));
}

.button--primary {
    color: var(--button-primary-main-color);
}

.button--primary::before {
    background-color: var(--button-primary-main-color);
}

.button--primary:hover::before {
    opacity: var(--button-primary-hover-opacity);
}

.button--light {
    color: var(--button-primary-light-color);
}

.button--accent {
    color: var(--button-accent-main-color);
}

.button--accent::before {
    background-color: var(--button-accent-main-color);
}

.button--accent:hover::before {
    opacity: var(--button-accent-hover-opacity);
}

.button--filled {
    &.button--primary {
        background-color: var(--button-primary-main-color);
        color: var(--button-primary-secondary-color);

        &::before {
            background-color: var(--button-primary-secondary-color);
        }
    }

    &.button--light {
        background-color: var(--button-primary-light-color);
    }

    &.button--accent {
        background-color: var(--button-accent-main-color);
        color: var(--button-accent-secondary-color);

        &::before {
            background-color: var(--button-accent-secondary-color);
        }
    }
}

.button--outlined {
    &.button--primary {
        outline-color: var(--button-primary-main-color);
    }

    &.button--light {
        outline-color: var(--button-primary-light-color);
    }

    &.button--accent {
        outline-color: var(--button-accent-main-color);
    }
}

.icon {
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--icon-button-size);
    height: var(--icon-button-size);
    font-size: var(--icon-button-icon-size);
    line-height: var(--icon-button-size);
}

.button--filled + .button--filled,
.button--filled + .button--outlined,
.button--outlined + .button--filled,
.button--outlined + .button--outlined {
    margin-inline-start: var(--button-spacing);
}

.button.button--disabled {
    cursor: default;
    color: var(--button-disabled-text-color);
    outline-color: var(--button-disabled-text-color);

    &.button--filled {
        background-color: var(--button-disabled-background-color);
    }
}

.button.button--disabled:hover::before {
    opacity: 0;
}

.button:focus-visible {
    animation-name: focus;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-curve-focus-ring);
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
}

.button--filled,
.button--elevated {
    outline-offset: var(--button-focus-ring-offset);
}

.button--outlined:focus-visible {
    animation-name: focusOutline;
    outline-width: calc(var(--icon-button-outline-size) + var(--focus-ring-width));
}

@keyframes focus {
    0% {
        outline-width: 0px;
    }
    50% {
        outline-width: calc(2 * var(--focus-ring-width));
    }
    100% {
        outline-width: var(--focus-ring-width);
    }
}

@keyframes focusOutline {
    0% {
        outline-width: var(--icon-button-outline-size);
    }
    50% {
        outline-width: calc(var(--icon-button-outline-size) + 2 * var(--focus-ring-width));
    }
    100% {
        outline-width: calc(var(--icon-button-outline-size) + var(--focus-ring-width));
    }
}
