:root {
    --menu-max-height: 75vh;
    --menu-background-color: rgb(var(--color-white));
    --menu-padding: 8px 0;
    --menu-border-radius: 4px;
    --menu-focus-ring-border-radius: 4px;

    --menu-item-icon-size: 24px;
    --menu-item-height: 48px;
    --menu-item-padding: 12px;
    --menu-item-font-size: 16px;

    --menu-divider-height: 8px;
}

:root[dark] {
    --menu-background-color: rgb(var(--palette-grey-100));
    --menu-item-hover-background: rgb(var(--palette-grey-300));
}

.menu {
    margin: 0;
    z-index: var(--z-index-higher);
    position: absolute;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    opacity: 0;
    background-color: var(--menu-background-color);
    border-radius: var(--menu-border-radius);
    z-index: var(--z-index-highest);
    box-shadow: var(--shadow-4p);
    box-sizing: border-box;
    transition: padding var(--animation-duration) var(--animation-curve-default), opacity 0.1s ease-out;
    transition-delay: 0s, calc(var(--animation-duration) - 0.1s);
}

.menu--active {
    padding: var(--menu-padding);
    opacity: 1;
    transition-delay: 0s;
}

.menu--full {
    width: 100%;
}

.item {
    overflow: hidden;
    position: relative;
    color: var(--input-text-color);
}

.item--focused::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    pointer-events: none;
    z-index: 1;
    animation-name: focus;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-curve-focus-ring);
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: calc(-1 * var(--focus-ring-width));
    border-radius: var(--menu-focus-ring-border-radius);
}

@keyframes focus {
    0% {
        outline-width: 0px;
        outline-offset: 0px;
    }
    50% {
        outline-width: calc(2 * var(--focus-ring-width));
        outline-offset: calc(-2 * var(--focus-ring-width));
    }
    100% {
        outline-width: var(--focus-ring-width);
        outline-offset: calc(-1 * var(--focus-ring-width));
    }
}

.menuItem {
    position: relative;
    align-items: center;
    color: var(--button-secondary-color);
    display: flex;
    gap: var(--menu-item-padding);
    font-size: var(--menu-item-font-size);
    height: var(--menu-item-height);
    padding: 0 var(--menu-item-padding);
    cursor: pointer;
}

.menuItem::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    pointer-events: none;
    opacity: 0;
    background-color: var(--button-secondary-color);
    transition: opacity var(--animation-duration-short) var(--animation-curve-default);
}

.menuItem:hover::before {
    opacity: var(--button-hover-opacity);
}

.menuItem--disabled {
    pointer-events: none;
    color: var(--input-disabled-color);
}

.menuItem .icon {
    font-size: var(--menu-item-icon-size);
    width: var(--menu-item-icon-size);
    height: var(--menu-item-icon-size);
}

.caption {
    flex-grow: 1;
    font-size: var(--menu-item-font-size);
    white-space: nowrap;
}

.menu hr {
    background-color: rgb(var(--color-divider));
    border: 0;
    display: block;
    height: 1px;
    margin: var(--menu-divider-height) 0;
    outline: 0;
    padding: 0;
    width: 100%;
}
