:root {
    --radio-field-margin-bottom: calc(1.5 * var(--unit));
    --radio-button-size: calc(2 * var(--unit));
    --radio-inner-margin: calc(var(--radio-button-size) / 4);
    --radio-inner-color: rgb(var(--color-primary));
    --radio-focus-color: rgba(var(--color-black), 0.1);
    --radio-checked-focus-color: rgba(var(--color-primary), 0.26);
    --radio-text-color: rgb(var(--color-black));
    --radio-disabled-color: rgba(var(--color-black), 0.16);
    --radio-text-font-size: calc(1.4 * var(--unit));
}

.radio {
    border: calc(0.2 * var(--unit)) solid var(--radio-text-color);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: var(--radio-button-size);
    position: relative;
    vertical-align: top;
    width: var(--radio-button-size);
    box-sizing: border-box;
    font-family: var(--preferred-font);

    & *,
    & *::after,
    & *::before {
        box-sizing: border-box;
    }

    &::before {
        background-color: var(--radio-inner-color);
        border-radius: 50%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scale(0);
        transition: transform 0.2s var(--animation-curve-default);
        width: 100%;
    }
}

.radio--checked {
    border: calc(0.2 * var(--unit)) solid var(--radio-inner-color);

    &::before {
        transform: scale(0.65);
    }
}

.field {
    display: block;
    height: var(--radio-button-size);
    margin-bottom: var(--radio-field-margin-bottom);
    position: relative;
    white-space: nowrap;
}

.text {
    color: var(--radio-text-color);
    display: inline-block;
    font-size: var(--radio-text-font-size);
    line-height: var(--radio-button-size);
    padding-left: var(--unit);
    vertical-align: top;
    white-space: nowrap;
}

.input {
    border: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 0;

    &:focus ~ .radio {
        box-shadow: 0 0 0 var(--unit) var(--radio-focus-color);
    }

    &:focus ~ .radio--checked {
        box-shadow: 0 0 0 var(--unit) var(--radio-checked-focus-color);
    }
}

.field--disabled {
    & .text {
        color: var(--radio-disabled-color);
    }

    & .radio {
        border-color: var(--radio-disabled-color);
        cursor: auto;
    }

    & .radio--checked {
        border-color: var(--radio-disabled-color);
        cursor: auto;

        &::before {
            background-color: var(--radio-disabled-color);
        }
    }
}
