:root {
    --radio-size: 20px;
    --radio-dot-scale: 0.5;
    --radio-outline-size: 2px;
    --radio-state-size: 40px;
}

.radio {
    display: flex;
    align-items: center;
    user-select: none;
    width: fit-content;
    cursor: pointer;
}

.radio--loading * {
    transition: none 0s ease 0s !important;
}

.input {
    opacity: 0;
    width: var(--radio-state-size);
    height: var(--radio-state-size);
    position: absolute;
    margin: 0;
    z-index: 1;
    pointer-events: none;
}

.state {
    position: relative;
    width: var(--radio-state-size);
    height: var(--radio-state-size);
    border-radius: 50%;
    transition: background-color var(--animation-duration) var(--animation-curve-default) 0s;
}

.outline {
    position: absolute;
    width: var(--radio-size);
    height: var(--radio-size);
    top: calc((var(--radio-state-size) - var(--radio-size)) / 2);
    left: calc((var(--radio-state-size) - var(--radio-size)) / 2);
    outline: var(--radio-outline-size) solid var(--input-outline-color);
    outline-offset: calc(-1 * var(--checkbox-outline-size));
    border-radius: 50%;
    transition: border-color var(--animation-duration) var(--animation-curve-default) 0s;
}

.dot {
    width: var(--radio-size);
    height: var(--radio-size);
    transform: scale(0);
    background-color: var(--input-on-color);
    transition: transform var(--animation-duration) var(--animation-curve-default) 0s;
    border-radius: 50%;
}

.label {
    color: var(--input-text-color);
    margin: 0 4px;
}

.radio--checked {
    & .outline {
        outline-color: var(--input-on-color);
    }

    & .dot {
        transform: scale(var(--radio-dot-scale));
    }
}

.radio--disabled {
    cursor: auto;

    & .outline {
        border-color: var(--input-disabled-color);
    }

    & .dot {
        background-color: var(--input-disabled-color);
    }
}

.radio:hover:not(.radio--disabled) .state {
    color: var(--input-state-color);
    background-color: var(--input-state-hover-color);
}

.input:focus + .state {
    animation-name: focus;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-curve-focus-ring);
    outline: var(--input-focus-ring-width) solid var(--input-focus-ring-color);
}

@keyframes focus {
    0% {
        outline-width: 0px;
    }
    50% {
        outline-width: calc(2 * var(--input-focus-ring-width));
    }
    100% {
        outline-width: var(--input-focus-ring-width);
    }
}
