:root {
    --ripple-duration: var(--animation-duration);
    --ripple-filter: blur(10px);
    --ripple-opacity: 0.24;
}

.ripple {
    pointer-events: none;
    background: currentcolor;
    filter: var(--ripple-filter);
    position: absolute;
    transform-origin: center center;
    opacity: var(--ripple-opacity);
    transform: scale(0);
    border-radius: 50%;
}
