.ripple {
    pointer-events: none;
    background: currentcolor;
    filter: blur(10px);
    position: absolute;
    transform-origin: center center;
    opacity: 0.12;
    transform: scale(0);
    border-radius: 50%;
}
