:root {
    --snackbar-color-cancel: rgb(var(--palette-red-500));
    --snackbar-color-accept: rgb(var(--palette-green-500));
    --snackbar-color-warning: rgb(var(--palette-lime-a200));
    --snackbar-background-color: rgb(var(--color-text));
    --snackbar-border-radius: calc(0.2 * var(--unit));
    --snackbar-button-offset: calc(4.8 * var(--unit));
    --snackbar-color: rgb(var(--color-white));
    --snackbar-horizontal-offset: calc(2.4 * var(--unit));
    --snackbar-vertical-offset: calc(1.4 * var(--unit));
    --snackbar-width: 400px;
}

.snackbar {
    align-items: center;
    background-color: var(--snackbar-background-color);
    border-radius: var(--snackbar-border-radius);
    bottom: 0;
    color: var(--snackbar-color);
    display: flex;
    left: var(--snackbar-horizontal-offset);
    margin: var(--snackbar-vertical-offset) auto 0;
    padding: var(--snackbar-vertical-offset) var(--snackbar-horizontal-offset);
    position: fixed;
    right: var(--snackbar-horizontal-offset);
    transition: all var(--animation-duration) var(--animation-curve-default) var(--animation-duration);
    z-index: var(--z-index-higher);
    box-sizing: border-box;
    font-family: var(--preferred-font);

    & *,
    & *::after,
    & *::before {
        box-sizing: border-box;
    }
}

.snackbar--accept {
    background-color: var(--snackbar-color-accept);
}

.snackbar--warning {
    background-color: var(--snackbar-color-warning);
}

.snackbar--cancel {
    background-color: var(--snackbar-color-cancel);
}

.snackbar:not(.snackbar--active) {
    transform: translateY(100%);
}

.snackbar--active {
    transform: translateY(0%);
}

.label {
    flex-grow: 1;
    font-size: var(--font-size-small);
}

.button {
    --button-border-radius: var(--snackbar-border-radius);
    --button-padding: 20px;
    margin: calc(-1 * var(--snackbar-vertical-offset) / 2) calc(-1 * var(--snackbar-horizontal-offset) / 2)
        calc(-1 * var(--snackbar-vertical-offset) / 2) var(--snackbar-button-offset);
    min-width: inherit;
}
