:root {
    --snackbar-color: rgb(var(--color-white));
    --snackbar-background-color: rgb(var(--color-black));
    --snackbar-border-radius: 4px;
    --snackbar-width: 400px;
    --snackbar-min-height: 48px;
    --snackbar-padding: 16px;
    --snackbar-button-padding: 12px;

    --snackbar-font-size: var(--font-size-small);
    --snackbar-line-height: 20px;

    --snackbar-color-error: var(--snackbar-color);
    --snackbar-color-success: var(--snackbar-color);
    --snackbar-color-warning: var(--snackbar-color);
    --snackbar-background-color-error: rgb(var(--palette-red-600));
    --snackbar-background-color-success: rgb(var(--palette-green-600));
    --snackbar-background-color-warning: rgb(var(--palette-yellow-800));
}

:root[dark] {
    --snackbar-background-color-error: rgb(var(--palette-red-400));
    --snackbar-background-color-success: rgb(var(--palette-green-400));
    --snackbar-background-color-warning: rgb(var(--palette-yellow-600));
}

.snackbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: var(--snackbar-border-radius);
    background-color: var(--snackbar-background-color);
    color: var(--snackbar-color);
    width: var(--snackbar-width);
    min-height: var(--snackbar-min-height);
    z-index: var(--z-index-highest);
}

.snackbar--success {
    --snackbar-color: var(--snackbar-color-success);
    --snackbar-background-color: var(--snackbar-background-color-success);
}

.snackbar--warning {
    --snackbar-color: var(--snackbar-color-warning);
    --snackbar-background-color: var(--snackbar-background-color-warning);
}

.snackbar--error {
    --snackbar-color: var(--snackbar-color-error);
    --snackbar-background-color: var(--snackbar-background-color-error);
}

.message {
    flex: 1;
    padding: calc((var(--snackbar-min-height) - var(--snackbar-line-height)) / 2) 0
        calc((var(--snackbar-min-height) - var(--snackbar-line-height)) / 2) var(--snackbar-padding);
    line-height: var(--snackbar-line-height);
    font-size: var(--snackbar-font-size);
}

.action,
.close {
    margin: 0 calc(var(--snackbar-button-padding) - (var(--icon-button-size) - var(--icon-button-icon-size)) / 2);
    flex: 0 0 auto;
}

.action {
    --button-border-radius: var(--snackbar-border-radius);
    --button-padding: calc((var(--icon-button-size) - var(--icon-button-icon-size)) / 2);
}

.close {
    --button-secondary-color: var(--snackbar-color);
}

.action + .close {
    margin-left: 0;
}
