:root {
    --switch-color: rgb(var(--color-primary));
    --switch-text-color: rgb(var(--color-black));
    --switch-thumb-off-color: rgb(var(--palette-grey-50));
    --switch-track-on-color: rgba(var(--color-primary), 0.5);
    --switch-track-off-color: rgba(var(--color-black), 0.26);
    --switch-off-ripple-color: rgba(var(--color-black), 0.4);
    --switch-on-focus-color: rgba(var(--color-primary), 0.26);
    --switch-off-focus-color: rgba(var(--color-black), 0.1);
    --switch-disabled-thumb-color: rgb(var(--palette-grey-400));
    --switch-disabled-track-color: rgba(var(--color-black), 0.12);
    --switch-disabled-text-color: rgba(var(--color-black), 0.26);
    --switch-total-height: calc(2.4 * var(--unit));
    --switch-track-length: calc(3.6 * var(--unit));
    --switch-track-height: calc(1.4 * var(--unit));
    --switch-thumb-size: calc(2 * var(--unit));
    --switch-thumb-on-color: var(--switch-color);
    --switch-focus-init-size: calc(0.8 * var(--unit));
    --switch-focus-size: calc(var(--switch-total-height) * 2);
    --switch-focus-diff: calc((var(--switch-focus-size) - var(--switch-focus-init-size)) / 2);
    --switch-ripple-duration: 650ms;
    --switch-font-size: var(--font-size-small);
    --switch-field-margin-bottom: calc(1.5 * var(--unit));
}

.field {
    display: block;
    margin-bottom: var(--switch-field-margin-bottom);
    position: relative;
    white-space: normal;
    box-sizing: border-box;
    font-family: var(--preferred-font);

    & *,
    & *::after,
    & *::before {
        box-sizing: border-box;
    }
}

.text {
    color: var(--switch-text-color);
    display: inline-block;
    font-size: var(--switch-font-size);
    line-height: var(--switch-total-height);
    padding-left: var(--unit);
    vertical-align: top;
    white-space: nowrap;
}

.thumb {
    border-radius: 50%;
    cursor: pointer;
    height: var(--switch-thumb-size);
    position: absolute;
    top: calc((var(--switch-track-height) - var(--switch-thumb-size)) / 2);
    transition-duration: 0.28s;
    transition-property: left;
    transition-timing-function: var(--animation-curve-default);
    width: var(--switch-thumb-size);

    & .ripple {
        background-color: var(--switch-color);
        opacity: 0.3;
        transition-duration: var(--switch-ripple-duration);
    }
}

.container {
    border-radius: var(--switch-track-height);
    cursor: pointer;
    display: inline-block;
    height: var(--switch-track-height);
    margin-top: calc((var(--switch-total-height) - var(--switch-track-height)) / 2);
    position: relative;
    vertical-align: top;
    width: var(--switch-track-length);
}

.container--on {
    background: var(--switch-track-on-color);

    & .thumb {
        background: var(--switch-thumb-on-color);
        box-shadow: var(--shadow-3p);
        left: calc(var(--switch-track-length) - var(--switch-thumb-size));
    }
}

.container--off {
    background: var(--switch-track-off-color);

    & .thumb {
        background: var(--switch-thumb-off-color);
        box-shadow: var(--shadow-2p);
        left: 0;
    }

    & .ripple {
        background: var(--switch-off-ripple-color);
    }
}

.input {
    height: 0;
    opacity: 0;
    overflow: hidden;
    width: 0;
}

.input:focus:not(:active) {
    & + .container > .thumb::before {
        background-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        content: "";
        display: inline-block;
        height: var(--switch-focus-init-size);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(
            calc(-1 * var(--switch-focus-init-size) / 2),
            calc(-1 * var(--switch-focus-init-size) / 2)
        );
        width: var(--switch-focus-init-size);
    }

    & + .container--on > .thumb::before {
        background-color: var(--switch-on-focus-color);
        box-shadow: 0 0 0 var(--switch-focus-diff) var(--switch-on-focus-color);
    }

    & + .container--off > .thumb::before {
        background-color: var(--switch-off-focus-color);
        box-shadow: 0 0 0 var(--switch-focus-diff) var(--switch-off-focus-color);
    }
}

.field--disabled {
    & .text {
        color: var(--switch-disabled-text-color);
    }

    & .container {
        background: var(--switch-disabled-track-color);
        cursor: auto;
    }

    & .thumb {
        background-color: var(--switch-disabled-thumb-color);
        border-color: transparent;
        cursor: auto;
    }
}
