:root {
    --switch-animation-curve: cubic-bezier(0.47, 1.64, 0.41, 1);
    --switch-animation-duration: 0.2s;

    --switch-height: calc(3.2 * var(--unit));

    --switch-track-length: calc(5.2 * var(--unit));
    --switch-track-on-color: rgb(var(--color-primary));
    --switch-track-off-color: rgba(var(--color-black), 0.12);
    --switch-track-disabled-color: rgba(var(--color-black), 0.09);

    --switch-thumb-animation-duration: 0.15s;
    --switch-thumb-on-color: rgb(var(--color-white));
    --switch-thumb-off-color: rgb(var(--palette-grey-600));
    --switch-thumb-disabled-color: rgba(var(--palette-grey-600), 0.32);

    --switch-thumb-icon-on-color: rgb(var(--color-black));
    --switch-thumb-icon-off-color: rgb(var(--palette-grey-200));
    --switch-thumb-icon-disabled-color: rgb(var(--palette-grey-100));

    --switch-hover-on-color: rgba(var(--palette-grey-600), 0.09);
    --switch-hover-off-color: rgba(var(--color-black), 0.09);
}

.switch {
    user-select: none;
    border-radius: calc(var(--switch-height) / 2);
    width: calc(var(--switch-track-length));
    height: var(--switch-height);
    position: relative;
    overflow: visible;
    display: inline-grid;
    place-items: center;
}

.switch--loading * {
    transition: none 0s ease 0s !important;
}

.checkbox {
    opacity: 0;
    z-index: 1;
    width: calc(var(--switch-track-length));
    height: var(--switch-height);
    position: absolute;
    cursor: pointer;
}

.track {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--switch-track-off-color);
    border-radius: calc(var(--switch-height) / 2);
    transition: background-color var(--animation-duration) var(--animation-curve-default) 0s,
        outline-color var(--animation-duration) linear 0s;
    outline-offset: -2px;
}

.state {
    display: grid;
    place-items: center;
    position: absolute;
    top: calc(var(--switch-height) / -8);
    left: calc(var(--switch-height) / -8);
    width: calc(var(--switch-height) * 1.25);
    height: calc(var(--switch-height) * 1.25);
    border-radius: 50%;
    transition: transform var(--switch-animation-duration) var(--switch-animation-curve) 0s,
        background-color var(--animation-duration) var(--animation-curve-default) 0s;
    transform-origin: center center;
    transform: translateX(0px);
}

.outline {
    position: absolute;
    top: calc(var(--switch-height) * 0.375);
    left: calc(var(--switch-height) * 0.375);
}

span.icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: clip-path var(--animation-duration) var(--animation-curve-default) 0s;
    font-size: calc(var(--switch-height) / 2);
}

.icon--checked {
    color: var(--switch-thumb-icon-on-color);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.icon--unchecked {
    color: var(--switch-thumb-icon-off-color);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.thumb {
    transition: transform var(--switch-thumb-animation-duration) var(--animation-curve-default) 0s,
        background-color var(--animation-duration) var(--animation-curve-default) 0s;
    position: absolute;
    background-color: var(--switch-thumb-off-color);
    width: calc(var(--switch-height) / 2);
    height: calc(var(--switch-height) / 2);
    border-radius: 50%;
}

.thumb--icon {
    transform: scale(1.5);
}

.switch--checked {
    & .state {
        transform: translateX(calc(var(--switch-track-length) - var(--switch-height)));
    }

    & .icon--checked {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    & .icon--unchecked {
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    }

    & .thumb {
        transform: scale(1.5);
    }
}

.switch--checked:not(.switch--disabled) {
    & .track {
        outline-color: var(--switch-track-on-color);
        background-color: var(--switch-track-on-color);
    }

    & .thumb {
        background-color: var(--switch-thumb-on-color);
    }
}

.switch--disabled {
    & .checkbox {
        cursor: auto;
    }

    & .track {
        outline-color: var(--switch-track-disabled-color);
        background-color: var(--switch-track-disabled-color);
    }

    & .thumb {
        background-color: var(--switch-thumb-disabled-color);
    }

    & .icon {
        color: var(--switch-thumb-icon-disabled-color);
    }
}

.switch:active:not(.switch--disabled) .thumb {
    transform: scale(1.75);
}

.switch:hover:not(.switch--disabled) .state {
    background-color: var(--switch-hover-on-color);
}

.switch--checked:hover:not(.switch--disabled) .state {
    background-color: var(--switch-hover-off-color);
}
