:root {
    --switch-height: 32px;
    --switch-length: 52px;
    --switch-state-size: 40px;
    --switch-border-size: 2px;
    --switch-focus-ring-offset: var(--switch-border-size);

    --switch-animation-curve: cubic-bezier(0.47, 1.64, 0.41, 1);
    --switch-thumb-animation-duration: 0.15s;
}

.switch {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    width: fit-content;
    cursor: pointer;
}

.switch--loading * {
    transition: none 0s ease 0s !important;
}

.input {
    opacity: 0;
    position: absolute;
    width: calc(var(--switch-length));
    height: var(--switch-height);
    margin: calc((var(--switch-state-size) - var(--switch-height)) / 2);
    z-index: 1;
    pointer-events: none;
}

.track {
    display: block;
    width: calc(var(--switch-length));
    height: var(--switch-height);
    margin: calc((var(--switch-state-size) - var(--switch-height)) / 2);
    border-radius: calc(var(--switch-height) / 2);
    transition:
        background-color var(--animation-duration) var(--animation-curve-default),
        border-color var(--animation-duration) var(--animation-curve-default);
    border: var(--switch-border-size) solid var(--input-outline-color);
    box-sizing: border-box;
}

.state {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--switch-state-size);
    height: var(--switch-state-size);
    border-radius: 50%;
    transition:
        transform var(--animation-duration-short) var(--switch-animation-curve) 0s,
        background-color var(--animation-duration) var(--animation-curve-default);
    transform-origin: center center;
    transform: translateX(0px);
    color: var(--input-state-color);
}

.thumb {
    display: block;
    position: absolute;
    top: calc(var(--switch-state-size) / 2 - var(--switch-height) / 4);
    left: calc(var(--switch-state-size) / 2 - var(--switch-height) / 4);
    transition:
        transform var(--switch-thumb-animation-duration) var(--animation-curve-default),
        background-color var(--animation-duration) var(--animation-curve-default);
    background-color: var(--input-outline-color);
    width: calc(var(--switch-height) / 2);
    height: calc(var(--switch-height) / 2);
    border-radius: 50%;
}

.thumb--icon {
    transform: scale(1.5);
}

span.icon {
    position: absolute;
    top: calc(var(--switch-state-size) / 2 - var(--switch-height) / 4);
    left: calc(var(--switch-state-size) / 2 - var(--switch-height) / 4);
    transition: clip-path var(--animation-duration) var(--animation-curve-default);
    font-size: calc(var(--switch-height) / 2);
}

.icon--checked {
    color: var(--input-on-main-color);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.icon--unchecked {
    color: var(--input-on-secondary-color);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.label {
    color: var(--input-text-color);
    margin: 0 4px;
    font-size: var(--input-text-font-size);
    line-height: var(--switch-state-size);
}

.switch--checked {
    & .state {
        transform: translateX(calc(var(--switch-length) - var(--switch-height)));
    }

    &:not(.switch--disabled) .track {
        background-color: var(--input-on-main-color);
        border-color: var(--input-on-main-color);
    }

    & .thumb {
        transform: scale(1.5);
        background-color: var(--input-on-secondary-color);
    }

    & .icon--checked {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    & .icon--unchecked {
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
}

.switch--disabled {
    cursor: auto;

    & .track {
        border-color: var(--input-disabled-color);
    }

    &.switch--checked .track {
        background-color: var(--input-disabled-color);
        border-color: var(--input-disabled-color);
    }

    &:not(.switch--checked) .thumb {
        background-color: var(--input-disabled-color);
    }

    & .icon--unchecked {
        color: var(--input-on-secondary-color);
    }

    & .icon--checked {
        color: var(--input-disabled-color);
    }

    & .label {
        color: var(--input-disabled-color);
    }
}

.switch:active:not(.switch--disabled) .thumb {
    transform: scale(1.75);
}

.switch:not(.switch--disabled):hover .state {
    background-color: var(--input-state-hover-color);
}

.input:focus + .track {
    animation-name: focus;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-curve-focus-ring);
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: var(--switch-focus-ring-offset);
}

@keyframes focus {
    0% {
        outline-width: 0px;
    }
    50% {
        outline-width: calc(2 * var(--focus-ring-width));
    }
    100% {
        outline-width: var(--focus-ring-width);
    }
}
