:root {
    --tab-height: 64px;
    --tab-padding: 12px;
    --tab-icon-size: 24px;
    --tab-font-size: var(--font-size-small);
    --tab-pointer-height: 3px;

    --tab-height-secondary: 48px;
    --tab-pointer-height-secondary: 2px;
    --tab-secondary-gap: 6px;

    --tab-color: rgb(var(--color-black));
    --tab-active-color: rgb(var(--color-primary));
    --tab-disabled-color: rgb(var(--palette-grey-400));

    --tab-focus-ring-border-radius: 9px;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    position: relative;
    box-shadow: inset 0 -1px rgb(var(--color-divider));
}

.pointer {
    background-color: var(--tab-active-color);
    height: var(--tab-pointer-height);
    margin-top: calc(-1 * var(--tab-pointer-height));
    position: absolute;
    border-radius: var(--tab-pointer-height) var(--tab-pointer-height) 0 0;

    transition-duration: var(--animation-duration);
    transition-property: left, width;
    transition-timing-function: var(--animation-curve-default);
}

.tabs--secondary {
    --tab-pointer-height: var(--tab-pointer-height-secondary);
}

.tabs--secondary .pointer {
    border-radius: 0;
}

.tab {
    user-select: none;
    flex: 1 1 0;
    width: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding: calc((var(--tab-height) - 2 * var(--tab-icon-size)) / 2) var(--tab-padding);
    font-weight: var(--font-weight-semi-bold);
    color: var(--tab-color);
    cursor: pointer;
    transition: color var(--animation-duration) var(--animation-curve-default);
}

.tab::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    pointer-events: none;
    opacity: 0;
    background-color: var(--tab-color);
    transition: opacity var(--animation-duration-short) var(--animation-curve-default),
        color var(--animation-duration-short) var(--animation-curve-default);
}

.tab:hover::before {
    opacity: var(--button-hover-opacity);
}

.tab--active {
    color: var(--tab-active-color);
}

.tab--active {
    color: var(--tab-active-color);
}

.tab--active::before {
    background-color: var(--tab-active-color);
}

.tab.tab--disabled {
    cursor: auto;
    pointer-events: none;
    color: var(--tab-disabled-color);
}

.tabs--secondary .tab {
    justify-content: center;
    flex-direction: row;
    gap: var(--tab-secondary-gap);
    padding: calc((var(--tab-height-secondary) - var(--tab-icon-size)) / 2) var(--tab-padding);
}

.label {
    font-size: var(--tab-font-size);
    line-height: var(--tab-icon-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    font-size: var(--tab-icon-size);
}

.tab:focus {
    outline: none;
}

.tab:focus-visible::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    pointer-events: none;
    z-index: 1;
    animation-name: focus;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-curve-focus-ring);
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: calc(-1 * var(--focus-ring-width));
    border-radius: var(--tab-focus-ring-border-radius);
    transition: bottom var(--animation-duration) var(--animation-curve-default);
}

.tab--active:focus-visible::before {
    bottom: calc(var(--tab-pointer-height) + 1px);
}

@keyframes focus {
    0% {
        outline-width: 0px;
        outline-offset: 0px;
    }
    50% {
        outline-width: calc(2 * var(--focus-ring-width));
        outline-offset: calc(-2 * var(--focus-ring-width));
    }
    100% {
        outline-width: var(--focus-ring-width);
        outline-offset: calc(-1 * var(--focus-ring-width));
    }
}

.content {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.content section {
    width: 100%;
    flex-shrink: 0;
    transition: transform var(--animation-duration) var(--animation-curve-default);
}
