.tooltip {
    display: block;
    font-family: var(--preferred-font);
    font-size: var(--tooltip-font-size);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-size-small);
    max-width: var(--tooltip-max-width);
    padding: var(--tooltip-margin);
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-transform: none;
    transform: scale(0) translateX(-50%);
    transform-origin: top left;
    transition: var(--animation-curve-default) var(--tooltip-animation-duration) transform;
    z-index: var(--z-index-higher);
    box-sizing: border-box;
    font-family: var(--preferred-font);
}
.tooltip *,
.tooltip *::after,
.tooltip *::before {
    box-sizing: border-box;
}
.tooltip.tooltipActive {
    transform: scale(1) translateX(-50%);
}
.tooltip.tooltipTop {
    transform: scale(0) translateX(-50%) translateY(-100%);
}
.tooltip.tooltipTop.tooltipActive {
    transform: scale(1) translateX(-50%) translateY(-100%);
}
.tooltip.tooltipLeft {
    transform: scale(0) translateX(-100%) translateY(-50%);
}
.tooltip.tooltipLeft.tooltipActive {
    transform: scale(1) translateX(-100%) translateY(-50%);
}
.tooltip.tooltipRight {
    transform: scale(0) translateX(0) translateY(-50%);
}
.tooltip.tooltipRight.tooltipActive {
    transform: scale(1) translateX(0) translateY(-50%);
}
.tooltipInner {
    background: var(--tooltip-background);
    border-radius: var(--tooltip-border-radius);
    color: var(--tooltip-color);
    display: block;
    padding: var(--tooltip-padding);
}
