:root {
    --tooltip-margin: 4px;
    --tooltip-color: rgb(var(--color-white));
    --tooltip-background: rgba(var(--palette-grey-800), 0.9);
    --tooltip-font-size: 12px;
    --tooltip-max-width: 250px;
    --tooltip-border-radius: 4px;
    --tooltip-padding: 4px 8px;
}

.tooltip {
    display: block;
    position: absolute;
    pointer-events: none;
    z-index: var(--z-index-higher);
    transform-origin: top left;
    transition: var(--animation-curve-default) calc(var(--animation-duration) - 100ms) transform;
}

.content {
    display: block;
    color: var(--tooltip-color);
    font-weight: 500;
    background: var(--tooltip-background);
    font-size: var(--tooltip-font-size);
    max-width: var(--tooltip-max-width);
    padding: var(--tooltip-padding);
    border-radius: var(--tooltip-border-radius);
    box-sizing: border-box;
}

.tooltip--bottom {
    transform: scale(0) translateX(-50%);
    padding-top: var(--tooltip-margin);

    &.tooltip--active {
        transform: scale(1) translateX(-50%);
    }
}

.tooltip--top {
    transform: scale(0) translateX(-50%) translateY(-100%);
    padding-bottom: var(--tooltip-margin);

    &.tooltip--active {
        transform: scale(1) translateX(-50%) translateY(-100%);
    }
}

.tooltip--left {
    transform: scale(0) translateX(-100%) translateY(-50%);
    padding-right: var(--tooltip-margin);

    &.tooltip--active {
        transform: scale(1) translateX(-100%) translateY(-50%);
    }
}

.tooltip--right {
    transform: scale(0) translateX(0) translateY(-50%);
    padding-left: var(--tooltip-margin);

    &.tooltip--active {
        transform: scale(1) translateX(0) translateY(-50%);
    }
}
