.tooltip {
    display: block;
    font-family: var(--preferred-font);
    font-size: var(--tooltip-font-size);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-size-small);
    max-width: var(--tooltip-max-width);
    padding: var(--tooltip-margin);
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-transform: none;
    transform: scale(0) translateX(-50%);
    transform-origin: top left;
    transition: var(--animation-curve-default) var(--tooltip-animation-duration) transform;
    z-index: var(--z-index-higher);
    box-sizing: border-box;
    font-family: var(--preferred-font);

    & *,
    & *::after,
    & *::before {
        box-sizing: border-box;
    }
}

.tooltip--active {
    transform: scale(1) translateX(-50%);
}

.tooltip--top {
    transform: scale(0) translateX(-50%) translateY(-100%);

    &.tooltip--active {
        transform: scale(1) translateX(-50%) translateY(-100%);
    }
}

.tooltip--left {
    transform: scale(0) translateX(-100%) translateY(-50%);

    &.tooltip--active {
        transform: scale(1) translateX(-100%) translateY(-50%);
    }
}

.tooltip--right {
    transform: scale(0) translateX(0) translateY(-50%);

    &.tooltip--active {
        transform: scale(1) translateX(0) translateY(-50%);
    }
}

.tooltipInner {
    background: var(--tooltip-background);
    border-radius: var(--tooltip-border-radius);
    color: var(--tooltip-color);
    display: block;
    padding: var(--tooltip-padding);
}
