:root {
    /* Boutons */

    --button-text-size: 14px;
    --button-spacing: 6px;
    --button-line-height-delta: 0px;
    --button-focus-ring-offset: 2px;

    --button-main-color: rgb(var(--color-white));
    --button-secondary-color: rgb(var(--color-black));
    --button-hover-opacity: 0.09;

    --button-primary-main-color: rgb(var(--color-primary));
    --button-primary-secondary-color: rgb(var(--color-white));
    --button-primary-hover-opacity: 0.18;

    --button-accent-main-color: rgb(var(--color-accent));
    --button-accent-secondary-color: rgb(var(--color-white));
    --button-accent-hover-opacity: 0.18;

    --button-disabled-text-color: rgb(var(--palette-grey-400));
    --button-disabled-background-color: rgb(var(--palette-grey-200));

    /* Focus rings */

    --focus-ring-width: 3px;
    --focus-ring-color: var(--input-on-main-color);
    --focus-ring-error-color: var(--input-error-color);

    /* Inputs */

    --input-on-main-color: rgb(var(--color-primary));
    --input-on-secondary-color: rgb(var(--color-white));

    --input-outline-color: rgb(var(--palette-grey-800));
    --input-disabled-color: rgb(var(--palette-grey-400));

    --input-text-font-size: 14px;
    --input-text-color: rgb(var(--color-black));

    --input-hover-opacity: 0.12;

    --input-state-palette: var(--palette-grey-600);
    --input-state-color: rgb(var(--input-state-palette));
    --input-state-hover-color: rgba(var(--input-state-palette), var(--input-hover-opacity));

    --input-error-palette: var(--palette-red-600);
    --input-error-color: rgb(var(--input-error-palette));
    --input-error-hover-color: rgba(var(--input-error-palette), var(--input-hover-opacity));
}

:root[dark] {
    --button-main-color: rgb(var(--palette-grey-100));
}
