.actionBar {
    box-shadow: 1px 1px 4px 1px #e7e7e7;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.buttons button {
    font-weight: bold;
}

.buttons, .selectionText {
    display: flex;
    align-items: center;
}

.buttons > strong {
    font-size: 15px;
    margin: 0 10px;
}

.selectionText strong {
    font-size: 15px;
    margin-left: 5px;
}

.contextualActions {
    text-align: right;
    display: flex;
    align-items: center;
}

.contextualActions button {
    font-weight: bold;
}

.contextualActions :global([data-focus="dropdown"]) {
    height: 32px;
}
