.actionBar {
    box-shadow: 1px 1px 4px 1px #e7e7e7;
    background-color: #FFF;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.buttons > * {
    display: inline-block;
    position: relative;
}

.buttons button {
    font-weight: bold;
}

.contextualActions {
    text-align: right;
    width: 200px;
}
