.bar {
    box-shadow: 1px 1px 4px 1px #e7e7e7;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: background-color 0.1s ease-out;
}

.selection {
    background-color: rgb(63, 81, 181);
    color: #f0f0f0;
}

.selection button {
    color: #f0f0f0;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    font-weight: bold;
}

.buttons > strong {
    font-size: 15px;
    margin: 0 10px;
}

.searchBar {
    margin-left: 10px;
    position: relative;
    padding-left: 30px;
}

.searchBar::before {
    font-family: "Material Icons";
    content: "\E8B6";
    font-size: 24px;
    position: absolute;
    top: 3px;
    left: 0;
}

.searchBar :global(.mdl-textfield__input) {
    text-transform: uppercase;
    font-weight: bold;
}
