.selection {
    padding: 15px;
    background-color: #FFF;
    border-bottom:1px solid #E1E1E1;
    cursor: pointer;
    padding-left: 75px;
    position: relative;
}

.selection:first-child {
    border-top:1px solid #E1E1E1;
}

.selection:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.checkbox {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 60px;
    display: none;
}

.actions {
    position: absolute;
    top: 25%;
    right: 0;
    display: none;
    z-index: 1;
}

.selection:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.selection:hover .checkbox {
    display: block;
}

.selection:hover .unselected {
    border-left: 5px solid #ffd657;
}

.selection:hover .actions {
    display: inline-block;
}

.selected {
    display: block;
    border-left: 5px solid #36b6b8;
}

.unselected {
    padding: 15px;
}

.timelineDate {
    color: #000;
    position: absolute;
    top: 23px;
    margin-left: -130px;
    font-size: 1em;
}

.timelineBadge {
    color: #fff;
    width: 15px;
    height: 15px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 25px;
    margin-left: -45px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timelinePanel {
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    width: 100%;
    box-sizing: border-box;
    background: #fff;
}

.timelinePanel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
    position: absolute;
    top: 16px;
    left: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 0 solid #ccc;
    border-right: 15px solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timelinePanel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
    position: absolute;
    top: 17px;
    left: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 0 solid #fff;
    border-right: 15px solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}