.c-checkbox-select {
  margin-top: 6px;
  margin-bottom: 12px;

  ul {
    padding: 0;
    margin: 0;
  }
}

.c-checkbox-select__title {
  font-family: "Roboto Condensed";
}

.c-checkbox-select__option {
  list-style: none;

  > label {
    margin-bottom: 4px;
  }
}
