.select {
    margin-top: 6px;
    margin-bottom: 12px;

    & ul {
        padding: 0;
        margin: 0;
    }
}

.option {
    list-style: none;

    & > label {
        margin-bottom: 4px;
    }
}
