@import "../../style/panel.css";

.progress {
    position: absolute;
    height: 3px;
    z-index: var(--z-index-high);
}

.panel {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: var(--panel-shadow);
    background: var(--color-white);
    border-radius: 2px;
}

.title {
    min-height: 36px;
    padding: 8px 16px;
    display: flex;
    align-items: center;

    &.top {
        border-bottom: var(--panel-title-border);
        justify-content: space-between;
    }

    &.bottom {
        border-top: var(--panel-title-border);
        justify-content: flex-end;
    }

    & h3 {
        margin: 0;
        padding: 2px 0;
        font-size: 22px;
        color: var(--panel-title-color);
        display: inline-block;
    }

    & h3 button {
        margin-left: 5px;
        margin-top: -4px;
    }
}

.actions {
    display: none;
}

.edit .actions,
.panel:hover .actions {
    display: block;
}

.content {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    position: relative;
}

.busy .content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-white);
    opacity: 0.7;
}
