@import "../../style/popin.css";

.overlay {
    animation-duration: 0.2s;
    z-index: var(--z-index-higher);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.popin {
    animation-duration: 0.2s;
    z-index: var(--z-index-higher);
    position: fixed;
    top: 0;
    width: 50vw;
    height: 100vh;
    padding: 20px;
    background: var(--popin-background);
    box-shadow: var(--shadow-4p);
    overflow-x: hidden;
}

.left {
    left: 60px;
}

.right {
    right: 0;
}

.popin > button {
    z-index: var(--z-index-higher);
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white !important;
}

.popin > button:hover {
    background-color: #f9f9f9 !important;
}
