@import "../../style/scrollspy-container.css";

.scrollspy {
    position: relative;
}

.scrollspy nav ul {
    list-style-type: none;

    & li {
        padding: 2.5px 10px;
        margin: 5px 0;
        cursor: pointer;
        font-size: 15px;
    }

    & li:hover {
        color: var(--scrollspy-active-color);
    }

    & .active {
        margin-left: -4px;
        font-weight: bold;
        border-left: 3px solid var(--scrollspy-active-border-color);
        color: var(--scrollspy-active-color);
    }
}

/* stylelint-disable */
.content {}
