.field {
    padding: 0;
}

.label {
    text-align: right;
}

.label > div {
    display: block;
    font-weight: bold;
    font-size: 13px;
}

.edit .invalid .label > div {
    color: rgb(222, 50, 38);
}

.edit .required .label > div:after {
    content: "*";
    margin-left: 3px;
}

.edit .label > div {
    margin: 4px 0;
}

.edit .value select {
    margin: 2px 0;
}

.edit .value .field > div {
    width: 250px;
}
