.field {
    padding: 0;
}

.label {
    text-align: right;
}

.label {
    display: block;
    font-weight: bold;
    font-size: 13px;
}

.edit.invalid .label {
    color: rgb(222, 50, 38);
}

.edit.required .label:after {
    content: "*";
    margin-left: 3px;
}

.edit .label {
    line-height: 1.8;
}

.edit .value select {
    margin: 2px 0;
}

.edit .value .field > div {
    width: 250px;
}

:global([data-focus="label"]) {
    font-weight: bold;
}
