.field {
    padding: 0;
}

:global([data-focus="label"]) {
    font-weight: bold;
}

.label {
    text-align: right;
    display: block;
    font-weight: bold;
    font-size: 13px;
}

.value {
    white-space: pre;
}

.edit.required .label::after {
    content: "*";
    margin-left: 3px;
}

.edit .label {
    line-height: 1.8;
}

.edit .value select {
    margin: 2px 0;
}

.edit .value .field > div {
    width: 250px;
}

.edit.invalid .label {
    color: rgb(222, 50, 38);
}

/* Corrige problème MDL qui affiche pas l'erreur */
.edit.invalid :global(.mdl-textfield__error) {
    visibility: visible;
}

/* Corrige problème MDL qui affiche pas l'erreur */
.edit.invalid :global(.mdl-textfield__label)::after {
    background-color: rgb(213, 0, 0);
}
