:root {
    --label-font-size: var(--font-size-small);
    --label-line-height: 20px;
    --label-required-margin: 3px;
}

.label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
    font-weight: var(--font-weight-bold);
    font-size: var(--label-font-size);
    line-height: var(--label-line-height);
    min-height: var(--label-line-height);
    padding: calc((var(--text-field-height) - var(--label-line-height)) / 2) 0;
}

.label--error > span {
    color: var(--input-error-color);
}

.required {
    margin-inline-start: var(--label-required-margin);
}

.icon {
    flex-shrink: 0;
}

span.icon {
    font-size: var(--label-line-height);
    margin-left: 6px;
    cursor: default;
}

button.icon {
    --icon-button-icon-size: var(--label-line-height);
    --icon-button-size: calc(var(--label-line-height) + 4px);
    margin: -2px -2px -2px 4px;
}
