:root {
    --select-chips-line-selected-color: rgb(var(--color-accent));
}

.select {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color var(--animation-duration) var(--animation-curve-default);

    & > span {
        visibility: hidden;
        margin-left: var(--text-field-icon-padding);
        font-size: var(--text-field-icon-size);
    }
}

.line--selected {
    color: var(--select-chips-line-selected-color);

    & > span {
        visibility: visible;
    }
}

.line--fittedSelect > span {
    margin-right: calc(-2 * var(--text-field-icon-size) - 2 * var(--text-field-icon-padding));
}

.chips {
    padding-top: var(--button-spacing);
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--button-spacing);
}

.chip + .chip {
    margin-inline: 0;
}
