:root {
    --select-radio-state-size: 32px;
}

.select > div:first-child {
    padding: calc((var(--radio-state-size) - var(--select-radio-state-size)) / 2);

    & > label {
        --radio-state-size: var(--select-radio-state-size);
    }
}

.supportingText {
    padding: var(--text-field-supporting-text-padding) var(--text-field-padding-horizontal);
    color: var(--input-state-color);
    line-height: var(--text-field-supporting-text-height);
    min-height: var(--text-field-supporting-text-height);
    font-size: var(--text-field-supporting-text-size);
}

.select--error .supportingText {
    color: var(--input-error-color);
}
