:root {
    --select-radio-state-size: 32px;
}

.select > div:first-child {
    padding: calc((var(--radio-state-size) - var(--select-radio-state-size)) / 2);

    & > label {
        --radio-state-size: var(--select-radio-state-size);
    }
}
