:root {
    --select-checkbox-state-size: 32px;
}

.select ul {
    padding: calc((var(--checkbox-state-size) - var(--select-checkbox-state-size)) / 2);
    margin: 0;
}

.option {
    --checkbox-state-size: var(--select-checkbox-state-size);
    list-style: none;
}
