.facetContainer {
    float: left;
    width: 275px;
    box-sizing: border-box;
}

.resultContainer {
    width: 100%;
    box-sizing: border-box;
}

.facetContainer + .resultContainer {
    width: calc(100% - 285px);
    margin-left: 285px;
}
