@import "../../../style/advanced-search.css";

.facetContainer {
    float: left;
    width: var(--advanced-search-facets-width);
    box-sizing: border-box;
}

.resultContainer {
    width: 100%;
    box-sizing: border-box;
}

.facetContainer + .resultContainer {
    width: calc(100% - var(--advanced-search-facets-width) - var(--advanced-search-facets-margin-right));
    margin-left: calc(var(--advanced-search-facets-width) + var(--advanced-search-facets-margin-right));
}
