@import "../../../style/search-bar.css";

.bar {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    z-index: var(--z-index-higher);
    position: relative;
    height: 41px;
    border-radius: 2px;
    box-shadow: var(--shadow-2p);
    margin: 10px 0;
    transition: box-shadow var(--animation-duration) var(--animation-curve-fast-out-slow-in);
}

.bar:hover {
    box-shadow: var(--shadow-4p);
}

.bar > div {
    padding: 8px 0;
}

.bar > button:last-child {
    margin-right: 5px;
}

.error {
    border: 1px solid var(--palette-red-500);
    margin: 9px -1px;
}

.input {
    height: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input i {
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.4);
}

.input input {
    text-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    left: 0;
    outline: none;
    font-size: 16px;
}

.errors {
    color: var(--palette-red-500);
    position: absolute;
    font-size: 12px;
    display: block;
    z-index: var(--z-index-higher);
    bottom: -20px;
    left: 43px;
}

.bar :global([data-focus="select-mdl"]) {
    border-right: 1px solid rgba(0, 0, 0, 0.16);
    margin-right: 10px;
}

.bar :global([data-focus="select-mdl"]) input {
    border: 1px solid transparent;
    padding-left: 20px;
}

.bar :global([data-focus="select-mdl"]) :global(.mdl-icon-toggle__label) {
    margin-top: -28px;
}

.criteria {
    position: absolute;
    top: 43px;
    z-index: var(--z-index-higher);
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    border: 1px solid var(--palette-grey-400);
    border-top-color: var(--palette-grey-300);
    box-sizing: border-box;
    padding-top: 18px;
}

.criteriaWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: calc(var(--z-index-higher) - 1);
    background: rgba(0, 0, 0, 0.15);
}

.criteria > button:first-child {
    position: absolute;
    right: 4px;
    top: 5px;
}

.error + .criteria {
    top: 44px;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10px 10px 5px;
    align-items: center;
}

.buttons button:not(:global(.mdl-button--raised)) {
    font-weight: bold;
    margin-right: 5px;
}
