.bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin: 10px auto;
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bar:hover {
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.bar > div {
    padding: 8px 0;
}

.input {
    height: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input i {
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.4);
}

.input input {
    text-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    left: 0;
    outline: none;
    font-size: 16px;
}

.bar :global([data-focus="select-mdl"]) {
    border-right: 1px solid rgba(0, 0, 0, 0.16);
    margin-right: 10px;
}

.bar :global([data-focus="select-mdl"]) input {
    border: 1px solid transparent;
    padding-left: 20px;
}

.bar :global([data-focus="select-mdl"]) :global(.mdl-icon-toggle__label) {
    margin-top: -28px;
}
