on:
  push:
    branches:
      - master

permissions:
  actions: read
  checks: write
  contents: read
  id-token: write
  pages: write

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: install
        run: npm ci

      - name: install
        run: npx playwright install chromium --with-deps

      - name: build
        run: npm run build

      - name: oxlint
        run: npm run oxlint

      - name: docgen
        run: npm run docgen

      - name: test
        run: npm run test-ci

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: install
        run: npm install

      - name: build
        run: npm run build

      - name: docgen
        run: npm run docgen

      - name: build
        run: npm run docs-build

      - name: upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

      - name: deploy
        uses: actions/deploy-pages@v4
        with:
          token: ${{ github.token }}
